@charset "utf-8";
/*BY QQ:357425717  WEIXIN：peakcms  URL：www.170m.com  www.1680796.com */
*{padding:0;margin:0;}
body,div,ul,li,p,span{padding:0;margin:0;}
body{ font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;background: url() top center no-repeat #ffffff;}

ul,li{ list-style-type:none;font-size:14px;}
img{ border:0;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none;color:#65c1c2;}
.w{ margin:0 auto; width:1080px; position:relative;background: #fff;padding: 0 10px}
#footer .w{background: none}
.fl{ float:left;}
.fr{ float:right;}
.clear{clear: both;}
.mt10{margin-top: 10px;}
.mt3{margin-top: 3px;}
.mt5{margin-top: 3px;}
.mb10{margin-bottom: 10px;}
.mb5{margin-bottom: 5px;}
.yh{font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
.flex{display: flex}
.flex-1{flex: 1}

#header{width:1100px;margin:0 auto;}
#header .top-bar{background: url("../Images/home_02.png") top center repeat-x #ffffff;height: 105px;}
#header .top-bar a{position: absolute;display: block;width: 300px;height: 105px;left: 0;top: 0;}
#header .top-nav{border-bottom: 1px solid #eee;background: #79d062;position: relative;}
#header .top-nav .white{position: absolute;background: #fff;right: 0;height: 44px;width: 50%;}
#header .top-nav .w{background: url(../Images/nav-bg.png) #fff -245px bottom no-repeat;position: relative;}
#header .top-nav .nav-ul{width: 810px;position:relative;}
#header .top-nav .nav-ul .nav-ul-li{text-align: center;font-size: 16px;line-height: 44px;position: relative;}
#header .top-nav .nav-ul .nav-ul-li a{display:inline-block;height:44px;padding: 0 15px;}
#header .top-nav .nav-ul .nav-ul-li.li-line{width: 10px;color: #a1b6bb}
#header .top-nav .nav-ul .nav-ul-li .downul{position: absolute;z-index:1000;top: 42px;left: 0;width: 400px;text-align: left;font-size: 12px;background: #eee;padding: 0 10px;height: 35px;line-height: 35px;}
#header .top-nav .nav-ul .nav-ul-li .downul em{font-style:normal;padding:0 8px}
#header .top-nav .nav-ul .nav-ul-li .downul a{padding:0;}
#header .top-nav .nav-ul .icon{position:absolute;right:0;top:15px;cursor: pointer;}
#header .top-nav .nav-ul .icon .span2{position:absolute;z-index:999}
#header .top-nav .nav-ul .icon1{right:70px}
#header .top-nav .nav-ul .icon .span2{display:none;}
#header .top-nav .nav-ul .icon:hover .span2{display:block;}
#header .top-nav .search{padding-top: 5px;position: absolute;right: 0;}
#q{border: 1px solid #8fc31f;height: 32px;padding: 0 10px;float: left;width: 150px;}
#Submit{background: #8fc31f;border: 0;color: #fff;height: 34px;float: left;padding: 0 20px;}

#content .mod .title .on a{color: #4aad42;background: url(../Images/title-on.png) center bottom no-repeat;display: inline-block;font-weight:bold}

#content .mod-1{text-align: center;padding: 20px;}
#content .mod-1 h1 a{color: #379033; font-size: 2em; font-weight: bold}
#content .mod-1 h1 a:hover{color:#65c1c2;}
#content .mod-1 .toplist{padding-top: 10px;color: #ccc}
#content .mod-1 .toplist a{font-size: 13px;color:#999;margin: 0 5px}
#content .mod-1 .toplist a:hover{color:#65c1c2;}

#content .mod-2{border-top: 3px solid #65c1c2}
#content .mod-2 .left{width: 625px;height:350px;position: relative;margin-right:50px;overflow: hidden}
#content .mod-2 .left li{position: relative;width: 625px;height: 350px;}
#content .mod-2 .left li p{position: absolute;width: 100%;bottom: 0;left: 0;height: 50px;line-height: 50px;background: rgba(0,0,0,.5)}
#content .mod-2 .left li p a{display: block;color: #ffffff;font-size: 18px;text-align: center}
#content .mod-2 .left .prev,#content .mod-2 .left .next{position: absolute;z-index: 30;display: block;}
#content .mod-2 .left .prev{top: 100px;left: 0px;}
#content .mod-2 .left .next{top: 100px;right: 0px;}
#content .mod-2 .left .prev a,#content .mod-2 .left .next a{opacity: .3;display: block;width: 45px;height: 99px;overflow: hidden;background: url(../Images/ico_prevnext2.png) no-repeat scroll 0 0;}
#content .mod-2 .left .prev a{background-position: -112px 0;}
#content .mod-2 .left .next a{background-position: -158px 0;}
#content .mod-2 .right{width: 400px;padding-top: 15px;}
#content .mod-2 .right h2{height:55px;line-height:55px;border-bottom:1px solid #ddd;font-size: 22px;overflow:hidden;font-weight: 500;}
#content .mod-2 .right li{width: 400px;}
#content .mod-2 .right li a{display: block;font-size: 16px;width: 310px;height: 38px;line-height: 38px;overflow: hidden;}
#content .mod-2 .right li div{line-height: 38px;color: #999;font-size: 12px;text-align: right;width: 90px;}

#content .mod-3{margin: 20px 0;}
#content .mod-3 .left{width: 730px}
#content .mod-3 .left .left-2{margin-top: 25px}
#content .mod-3 .left .left-2 .title{ line-height: 50px;font-size: 18px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
#content .mod-3 .left .left-2 .title span{padding: 0 20px}
#content .mod-3 .left .left-2 .con{background: #f6f7fb;padding: 20px;border-bottom: 1px solid #eee}
#content .mod-3 .left .left-2 .con .txt .h1{height:110px;}
#content .mod-3 .left .left-2 .con .txt .h1 h2{font-size: 16px;}
#content .mod-3 .left .left-2 .con .txt .h1 h2.txt{ height: 30px;line-height: 30px;overflow: hidden;}
#content .mod-3 .left .left-2 .con .txt .h1 p{font-size: 12px;color: #666;margin: 10px 0 10px 0;line-height: 26px}
#content .mod-3 .left .left-2 .con .txt li{line-height: 36px;height: 32px;overflow: hidden}

#content .mod-3 .right{width: 320px;margin-left: 30px}
#content .mod-3 .right .right-1{margin-bottom: 20px}
#content .mod-3 .right .right-2 .c{height: 135px;overflow-y:auto;margin-left: 10px}
#content .mod-3 .right .right-2 .c li{height: 26px;line-height: 26px;font-size:13px;overflow: hidden;}
#content .mod-3 .right .right-3 .title{margin: 10px 0;}
#content .mod-3 .right .right-3 .con{height: 290px;overflow-y: auto}
#content .mod-3 .right .right-3 .con li{height: 40px;line-height: 40px;border-bottom: 1px solid #eee;overflow: hidden;}
#content .mod-3 .right .right-3 .con li em{list-style: none;font-style: normal;background: url("../Images/wen.png") left center no-repeat;padding:2px 0;padding-left: 25px}
#content .mod-3 .right .right-3 .con li a{margin-left: 10px}
#content .mod-3 .right .right-4{margin-top: 15px;position: relative;}
#content .mod-3 .right .right-4 .c{position: absolute;right: 0px;top: 1px;}

#content .mod-4{position: relative;}
#content .mod-4 .title{font-size: 18px;height: 50px;line-height: 50px;color: #4aad42}
#content .mod-4 .title .flex-1{margin:0 10px;}
#content .mod-4 .title .flex-1 span{display: inline-block;width: 98%;height: 1px;background: #eee;margin-top: 25px;}
#content .mod-4 .title a{color: #4aad42;font-weight: bold}
#content .mod-4 .con{padding-left:40px;width: 1080px;}
#content .mod-4 .con ul li{padding-left:8px;width:90px;height:90px;}
#content .mod-4 .con ul li img{width:90px;height:90px;}
#content .mod-4 .prev,#content .mod-4 .next{position: absolute;top: 40px;}
#content .mod-4 .prev a,#content .mod-4 .next a{display: block;width: 45px;height: 99px;overflow: hidden;background: url(../Images/home_40.png) no-repeat scroll 0 0;}
#content .mod-4 .prev{left: -15px;}
#content .mod-4 .next{right: -5px;}
#content .mod-4 .prev a{-moz-transform: scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
#content .mod-4 .next a{}

#content .mod-5 .left .left-3 .title{font-size: 18px;height: 50px;line-height: 50px;color: #4aad42}
#content .mod-5 .left .left-3 .title .flex-1{margin:0 10px;}
#content .mod-5 .left .left-3 .title .flex-1 span{display: inline-block;width: 100%;height: 1px;background: #eee;margin-top: 25px;}
#content .mod-5 .left .left-3 .con ul li{margin:0 13px}
#content .mod-5 .left .left-3{margin-top: 5px;position: relative;width: 700px;}
#content .mod-5 .left .left-3 .c{margin-top: 5px;width: 660px;overflow: hidden;}
#content .mod-5 .left .left-3 .c{padding-left:40px;}
#content .mod-5 .left .left-3 li{ width: 200px;height:280px;overflow: hidden}
#content .mod-5 .left .left-3 .prev,#content .mod-5 .left .left-3 .next{position: absolute;top: 40px;z-index:1000}
#content .mod-5 .left .left-3 .prev,#content .mod-5 .left .left-3 .next{position: absolute;top: 142px;}
#content .mod-5 .left .left-3 .prev a,#content .mod-5 .left .left-3 .next a{display: block;width: 45px;height: 99px;overflow: hidden;background: url(../Images/home_40.png) no-repeat scroll 0 0;}
#content .mod-5 .left .left-3 .prev{left: -15px;}
#content .mod-5 .left .left-3 .next{right: -55px;}
#content .mod-5 .left .left-3 .prev a{-moz-transform: scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
#content .mod-5 .left .left-3 .next a{}
#content .mod-5 .right .right-1{margin-bottom: 23px}
#content .mod-5 .right .right-5{width: 308px}
#content .mod-5 .right .right-5 .title{background: url("../Images/home_63.png") top center no-repeat;height: 66px;text-align: center;line-height: 75px;font-size: 24px;color: #1bd4f9;font-weight: bold;}
#content .mod-5 .right .right-5 .title a{font-size: 12px;padding-left: 5px}
#content .mod-5 .right .right-5 .con{border: 1px solid #b4d3ea;border-top: 0}
#content .mod-5 .right .right-5 .con ul{padding: 15px 20px;}
#content .mod-5 .right .right-5 .con ul li{font-size: 20px;height: 42px;line-height: 42px;border-bottom: 1px dashed #b4d3ea;overflow: hidden;}
#content .mod-5 .right .right-5 .con ul li a{color: #135d8c;}

#content .mod-6 .title{font-size: 18px;height: 50px;line-height: 50px;color: #4aad42}
#content .mod-6 .title .flex-1{margin:0 10px;}
#content .mod-6 .title .flex-1 span{display: inline-block;width: 100%;height: 1px;background: #eee;margin-top: 25px;}
#content .mod-6 .con ul li{margin:0 13px}

#content .mod-7{border-top: 3px solid #41ad37;margin-top: 20px;}
#content .mod-7 .c-left{background: #41ad37;padding: 20px 30px;margin-left: 15px;font-size: 20px;color: #ffffff;margin-right: 20px}
#content .mod-7 .c-txt{margin-top: 20px}
#content .mod-7 .c-txt select{width: 290px;border: 1px solid #999;outline: none;height: 40px;line-height: 40px;padding:0 50px;border-radius: 0;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("../Images/select_arrow.png") no-repeat scroll 260px center transparent;text-align: center;}
#content .mod-7 .c-txt:after{  content: "";  width: 14px;  height: 8px;  position: absolute;  right: 20px;  top: 45%;  pointer-events: none;  }
.w.show,.w.list{padding-top:20px;}
.w.show .sl,.w.list .ll{width:820px;border-color:#ddd}

#footer{background: #1d871b;text-align: center;padding: 20px;line-height: 32px;color: #fff;font-size: 12px;margin-top: 20px;}
#footer a{color: #fff;margin: 0 5px}