<!--foot-->
<div id="foot">
<div class="txt flex">
   <div style="margin-right:15px;margin-top: 15px;"><a href="http://bszs.conac.cn/sitename?method=show&id=092471EBA0EA2C0BE053022819ACBD64" target="_blank"><img src="/statics-zhuhai315/style2021/images/ico-jc.png" width="60px" height="76px"/></a></div>
   <div class="flex-1"><p><a href="#" target="_blank">设为主页</a>|<a href="#" target="_blank">加入收藏夹</a></p>
   <p>版权所有：珠海市消费者权益保护委员会&nbsp;备案号：<a href="http://beian.miit.gov.cn/?spm=a2c4g.11186623.7y9jhqsfz.110.487b72433OGqIc" target="_blank" >粤ICP备14082194号《</a>&nbsp;技术支持：消费者报道杂志社有限公司</p>
   <p>咨询投诉电话：0756-2620315&nbsp;通讯地址：珠海市香洲区人民东路125号工商大厦11楼&nbsp;邮编：519000</p>
 </div>
</div>
</div>
<script type="text/javascript">
var i = $(".mod-1 .left ul li").length;
for (j = 1; j < i + 1; j++) {
  $('.mod-1 .left .t').append("<span>" + j + "</span>")
}
jQuery(".mod-1").slide({
  mainCell: ".left ul",
  effect: "leftLoop",
  defaultIndex: 0,
  vis: 2,
  scroll: 1,
  titCell: ".t span",
  titOnClassName: "on",
  autoPlay: true
});
jQuery(".mod-3").slide({
  mainCell: ".silde ul",
  effect: "leftLoop",
  defaultIndex: 0,
  vis: 3,
  scroll: 1,
  titCell: ".t span",
  titOnClassName: "on",
  autoPlay: true
});
</script>
</body>
</html>  