<div id="header">
    <div class="top-bar"><div class="w"><a href="/"></a></div></div>
    <div class="top-nav">
        <div class="white"></div>
        <div class="w flex">
            <ul class="nav-ul flex">
                <li class="nav-ul-li"><a href="/" style="color:#fff">首页</a></li>
                <li class="nav-ul-li li-line"></li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">权威</a>
                    <div style="display: none;" class="downul downul-1">
                        <a href="/html/web/bhdt/index.html">本会动态</a><em>|</em>
                        <a href="/html/web/gdxw/index.html">各地消委</a><em>|</em>
                        <a href="/html/web/nianzhuti/index.html">年主题</a><em>|</em>
                        <a href="/html/web/gsyd/index.html">市场监管信息</a><em>|</em>
                        <a href="/html/web/shouce/index.html">维权手册</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">聚焦</a>
                    <div style="display: none;" class="downul downul-1">
                        <a href="/html/web/wqyw/index.html">维权要闻</a><em>|</em>
                        <a href="/html/web/xfry/index.html">消费热议</a><em>|</em>
                        <a href="/html/web/mtbd/index.html">媒体报道</a><em>|</em>
                        <a href="/html/web/shipinzhongxin/index.html">视频中心</a><em>|</em>
                        <a href="/html/web/zhuantiall/index.html">专题专区</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">监督</a>
                    <div style="display: none;" class="downul downul-1">
                        <a href="/html/web/qqbg/index.html">侵权曝光</a><em>|</em>
                        <a href="/html/web/spjc/index.html">商品检测</a><em>|</em>
                        <a href="/html/web/xfdc1/index.html">消费调查</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">维权</a>
                    <div style="display: none;" class="downul downul-1">
                        <a href="/html/web/tsfx/index.html">投诉分析</a><em>|</em>
                        <a href="/html/web/jdal/index.html">经典案例</a><em>|</em>
                        <a href="/html/web/yajf/index.html">以案解法</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">教育</a>
                    <div style="display: none;" class="downul downul-1">
                        <a href="/html/web/xfjs/index.html">消费警示</a><em>|</em>
                        <a href="/html/web/xfts/index.html">生活百科</a><em>|</em>
                        <a href="/html/web/flfg/index.html">法律法规</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">互动</a>
                    <div style="display: none;" class="downul downul-1">
<!--                        <a href="/index.php?m=member&c=content&a=publish&siteid=1&catid=210">秘书长在线</a><em>|</em>-->
<!--                        <a href="/html/web/onlinemsz/index.html">秘书长回答</a><em>|</em>-->
                        <a href="/html/web/flzj/index.html">法律专家</a><em>|</em>
                        <a href="/html/web/hyzj/index.html">行业专家</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="javascript:;" class="topa">投诉</a>
                    <div style="display: none;" class="downul downul-1">
                        <a href="http://ts.gdcc315.cn/dologin">在线投诉</a><em>|</em>
                        <a href="/html/web/aboutus/211.html">投诉须知</a><em>|</em>
                        <a href="http://ts.gdcc315.cn/dologin">和解平台</a><em>|</em>
                        <a href="/html/web/aboutus/48617.html">咨询热线</a><em>|</em>
                        <a href="/html/web/aboutus/48618.html">微咨询</a><em>|</em>
                        <a href="http://myjd.jd.com/afs/checkforOut/policyforOutIndex.action">查验宝</a>
                    </div>
                </li>
                <li class="nav-ul-li li-line">\</li>
                <li class="nav-ul-li"><a href="/html/web/gongkai/index.html">公开</a></li>
                <li class="icon icon1" style="display:none;">
                    <span class="span1"><img src="/{ms:global.style/}/Picture/icon-wx.png"/></span>
                    <span class="span2"><img src="/{ms:global.style/}/Picture/icon-wx-qr.jpg"/></span>
                </li>
                <li class="icon icon2" style="display:none;">
                    <span class="span1"><img src="/{ms:global.style/}/Picture/icon-wb.png"/></span>
                    <span class="span2"><img src="/{ms:global.style/}/Picture/icon-wb-qr.jpg"/></span>
                </li>
            </ul>
            <div class="search">
                <form action="/mcms/search.do" method="post" id="searchDataForm">
                    <!--                <input type="hidden" name="m" value="search">-->
                    <!--                <input type="hidden" name="c" value="index">-->
                    <!--                <input type="hidden" name="a" value="init">-->
                    <!--                <input type="hidden" name="typeid" value="1" id="typeid">-->
                    <!--                <input type="hidden" name="siteid" value="1" id="siteid">-->
                    <!--                <input name="q" id="q" value="关键字" maxlength="50" onfocus="if(this.value='关键字')this.value=''"-->
                    <!--                       onblur="if(this.value=='')this.value='关键字'" class="input">-->
                    <!--                <input type="submit" name="Submit" value="搜 索" id="Submit" class="input_1">-->

                    <input id="content_details_or" type="hidden" name="content_details_or">
                    <input id="q" type="text" name="text" class="input" placeholder="请输入关键词搜索">
                    <a href="javascript:;" id="Submit" onclick="goToSearch()" style="line-height: 34px;" class="input_1">搜索</a>
                </form>
            </div>
            <script type="text/javascript">

                function goToSearch() {
                    var v = document.getElementById("q").value;
                    document.getElementById("content_details_or").value = v;
                    document.getElementById("searchDataForm").submit();
                }
            </script>
        </div>
    </div>
</div>
<script>
    jQuery(".h_fy").slide({
        mainCell: ".c ul",
        delayTime :5,
        effect: "leftLoop",
        defaultIndex: 0,
        vis: 2,
        scroll: 1,
        autoPlay: true
    });
</script>