<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#include "head-file.htm" />
<!--    <title>广东消费网(广东省消委会消费维权网)</title>-->
</head>
<body>
<!--header-->
<div id="header">
    <#include "header.htm" />
</div>
<div style="width:1100px;margin:10px auto">
    <img width="1100px" src="/{ms:global.style/}/Picture/jyls.png"/>
</div>
<div style="width:1100px;margin:10px auto">
    <a href="/html/web/ztzqcon/guangdongfangxinxiaofeichuangj/index.html" target="_blank">
        <img width="1100px" src="/{ms:global.style/}/Picture/2020gdxfcj.jpg"/>
    </a>
</div>

<div id="content" class="w">
    <!--mod-1-->
    <div class="mod mod-1">
        <h1>
            {ms:arclist size=1 flag="2"}
                <a href="/html/web${field.link}" target="_blank">${field.title}</a>
            {/ms:arclist}
        </h1>
        <div class="toplist">
<!--            <#assign top = 4>-->
            {ms:arclist size=3 flag="5" }
                <a href="/html/web${field.link}" target="_blank">·
                    <#if field.title?length gt 20>
                        ${field.title?substring(0,20)}
                    <#else>
                        ${field.title}
                    </#if>
                </a> |
            {/ms:arclist}
            <a href="/html/web/bhdt/index.html" target="_blank">更多>></a>
        </div>
    </div>
    <!--mod-2-->
    <div class="mod mod-2 flex">
        <div class="left">
            <div class="c">
                <ul>
                    {ms:arclist size=4 flag="1"}
                    <li>
                        <a href="/html/web${field.link}" target="_blank">
                            <img src="{@ms:file field.litpic/}" width="625px" height="350px">
                        </a>
                        <p>
                            <a href="/html/web${field.link}" target="_blank">"${field.title}”</a>
                        </p>
                    </li>
                    {/ms:arclist}
                </ul>
            </div>
            <div class="prev"><a href="javascript:void(0)"></a></div>
            <div class="next"><a href="javascript:void(0)"></a></div>
        </div>
        <div class="right">
            {ms:arclist size=1 flag="63"}
            <h2>
                <a href="/html/web${field.link}" target="_blank">${field.title}</a>
            </h2>
            {/ms:arclist}
            <ul>
                {ms:arclist size=3 flag="65" }
                <li class="flex">
                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                    <div>${field.date?date?string("yyyy-MM-dd")}</div>
                </li>
                {/ms:arclist}
            </ul>
            {ms:arclist size=1 flag="64"}
            <h2>
                <a href="/html/web${field.link}" target="_blank">${field.title}</a>
            </h2>
            {/ms:arclist}
            <ul>
                {ms:arclist size=3 flag="66" }
                <li class="flex">
                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                    <div>${field.date?date?string("yyyy-MM-dd")}</div>
                </li>
                {/ms:arclist}
            </ul>
        </div>
    </div>
    <!--mod-3-->
    <div class="mod mod-3 flex">
        <!--left-->
        <div class="left">
            <!--left-1-->
            <div class="left-1">
                <ul class=" flex">
                    <li><a href="/html/web/aboutus/48617.html" target="_blank"><img src="/{ms:global.style/}/Picture/home_09.png"/></a></li>
                    <li><a href="http://ts.gdcc315.cn/dologin" target="_blank"><img src="/{ms:global.style/}/Picture/home_10.png"/></li>
                    <li><a href="http://ts.gdcc315.cn/dologin" target="_blank"><img src="/{ms:global.style/}/Picture/home_11.png"/></a></li>
                    <li><a href="/html/web/aboutus/211.html" target="_blank"><img src="/{ms:global.style/}/Picture/home_12.png"/></a></li>
                    <li><a href="/html/web/aboutus/48618.html" target="_blank"><img src="/{ms:global.style/}/Picture/home_13.png"/></a></li>
                </ul>
            </div>
            <!--left-2-->
            <div class="left-2 flex">
                <div class="flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/wqyw/index.html">维权要闻</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1">
                                {ms:arclist size=1 flag="48"}
                                <h2 class="txt">
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </h2>
                                <p>
                                    <#if field.descrip?length gt 53>
                                    ${field.descrip?substring(0,53)?js_string}...
                                    <#else>
                                    ${field.descrip?js_string}
                                    </#if>
                                </p>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=4 typeid="21" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/xfry/index.html">消费热议</a></span>/<span><a href="/html/web/mtbd/index.html">媒体报道</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1">
                                {ms:arclist size=1 flag="49"}
                                <h2 class="txt">
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </h2>
                                <p>
                                    <#if field.descrip?length gt 53>
                                    ${field.descrip?substring(0,53)?js_string}...
                                    <#else>
                                    ${field.descrip?js_string}
                                </#if>
                                </p>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=4 typeid="25" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <div class="txt flex-1">
                            <div class="h1">
                                {ms:arclist size=1 flag="50"}
                                <h2 class="txt">
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </h2>
                                <p>
                                    <#if field.descrip?length gt 53>
                                    ${field.descrip?substring(0,53)?js_string}...
                                    <#else>
                                    ${field.descrip?js_string}
                                </#if>
                                </p>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=4 typeid="9" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--left-2-->
            <div class="left-2 flex">
                <div class="flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/qqbg/index.html">侵权曝光</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1 flex">
                                {ms:arclist size=1 flag="51"}
                                <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="/html/web${field.link}" target="_blank">
                                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="170px" height="100px">
                                    </a>
                                    <!-- <a href="http://www.gdcc315.cn/show-10-53386-1.html" target="_blank">
                                        <img  src="/{ms:global.style/}/Picture/20210121110133941.jpg" alt="泄露40万条个人信息！圆通速递被约谈！  " width="170px" height="100px"/>
                                    </a> -->
                                </div>
                                <h2><a href="/html/web${field.link}" target="_blank">${field.title}</a></h2>
                                {/ms:arclist}
                                <!-- <h2><a href="http://www.gdcc315.cn/show-10-53386-1.html" target="_blank">泄露40万条个人信息！圆通速递被约谈！  </a></h2> -->
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="10" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                                <!-- <li>·&nbsp;<a href="http://www.gdcc315.cn/show-10-53817-1.html" target="_blank">29批次食品不合格！这些蛋糕、炒货、海鲜你吃过吗？</a></li>
                                <li>·&nbsp;<a href="http://www.gdcc315.cn/show-10-53756-1.html" target="_blank">20批次食品抽检不合格，有你爱吃的吗？</a></li>
                                <li>·&nbsp;<a href="http://www.gdcc315.cn/show-10-53713-1.html" target="_blank">肉制品、冷冻饮品、酒……这24批次食品不合格</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/spjc/index.html">商品检测</a></span>/<span><a href="/html/web/xfdc1/index.html">消费调查</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1 flex">
                                {ms:arclist size=1 flag="52"}
                                <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="/html/web${field.link}" target="_blank">
                                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="170px" height="100px">
                                    </a>
                                    <!-- <a href="http://www.gdcc315.cn/show-10-53386-1.html" target="_blank">
                                        <img  src="/{ms:global.style/}/Picture/20210121110133941.jpg" alt="泄露40万条个人信息！圆通速递被约谈！  " width="170px" height="100px"/>
                                    </a> -->
                                </div>
                                <h2><a href="/html/web${field.link}" target="_blank">${field.title}</a></h2>
                                {/ms:arclist}
                                <!-- <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="http://www.gdcc315.cn/show-11-53733-1.html" target="_blank">
                                        <img  src="/{ms:global.style/}/Picture/20210812105654136.jpg" alt="奶酪棒真的营养又补钙? 天天吃可以吗?12款奶酪棒检测结果发布" width="170px" height="100px"/>
                                    </a>
                                </div>
                                <h2><a href="http://www.gdcc315.cn/show-11-53733-1.html" target="_blank">奶酪棒真的营养又补钙? 天天吃可以吗?12款奶酪棒检测结果发布</a></h2> -->
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="11" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                                <!-- <li>·&nbsp;<a href="http://www.gdcc315.cn/show-11-53816-1.html" target="_blank">蜂蜜比较试验结果大公开 16款蜂蜜表现较好</a></li>
                                <li>·&nbsp;<a href="http://www.gdcc315.cn/show-11-53735-1.html" target="_blank">你买的弹射玩具枪安全吗？30款弹射玩具枪比较试验结果来了</a></li>
                                <li>·&nbsp;<a href="http://www.gdcc315.cn/show-11-53733-1.html" target="_blank">奶酪棒真的营养又补钙? 天天吃可以吗?12款奶酪棒检测结果发布</a></li> -->
                            </ul>
                        </div>
                        <div class="txt flex-1">
                            <div class="h1 flex">
                                {ms:arclist size=1 flag="61"}
                                <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="/html/web${field.link}" target="_blank">
                                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="170px" height="100px">
                                    </a>
                                    <!-- <a href="http://www.gdcc315.cn/show-10-53386-1.html" target="_blank">
                                        <img  src="/{ms:global.style/}/Picture/20210121110133941.jpg" alt="泄露40万条个人信息！圆通速递被约谈！  " width="170px" height="100px"/>
                                    </a> -->
                                </div>
                                <h2><a href="/html/web${field.link}" target="_blank">${field.title}</a></h2>
                                {/ms:arclist}
                                <!-- <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="http://www.gdcc315.cn/show-12-53480-1.html" target="_blank">
                                        <img  src="/{ms:global.style/}/Picture/20210209032929432.jpg" alt="网约车计时计费为何总与预估不符？“暗访”10家平台发现~" width="170px" height="100px"/>
                                    </a>
                                </div>
                                <h2><a href="http://www.gdcc315.cn/show-12-53480-1.html" target="_blank">网约车计时计费为何总与预估不符？“暗访”10家平台发现~</a></h2> -->
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="12" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                                <!-- <li>·&nbsp;<a href="http://www.gdcc315.cn/show-12-53821-1.html" target="_blank">短视频带货 近八成受访者最关心商品质量</a></li>
                                <li>·&nbsp;<a href="http://www.gdcc315.cn/show-12-53818-1.html" target="_blank">中消协发布《50款APP账号注销及自动化推荐退订测评报告》</a></li>
                                <li>·&nbsp;<a href="http://www.gdcc315.cn/show-12-53806-1.html" target="_blank">小学生花2000元买盲盒套笔？谨防未成年人成瘾风险</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--right-->
        <div class="right">
            <a href="http://gdfxxfcj.gdcc315.cn:8081" target="_blank">
                <img src="/{ms:global.style/}/Picture/2020gdfxxfcn.jpg" width="320px" height="115px" alt=""  style="display: block;margin-bottom:10px"/>
            </a>
            <!--right-1-->
            <div class="right-1">
                <div style="text-align: right;margin-bottom: 10px">
                    <a href="/html/web/zhuantiall/index.html" target="_blank">
                        <img src="/{ms:global.style/}/Picture/home_15.png"/>
                    </a>
                </div>
                <div>
                    <a href="/html/web/tsfx/53554.html" target="_blank">
                        <img src="/{ms:global.style/}/Picture/2020xfbg.jpg" width="320px" height="120px" alt=""/>
                    </a>
                </div>
            </div>
            <!--right-2-->
<!--            <div class="right-2 flex">-->
<!--                <img src="/{ms:global.style/}/Picture/home_22.png"/>-->
<!--                <div>-->
<!--                    <a href="/{ms:global.style/}/onlinemsz/contribution.html" target="_blank">-->
<!--                        <img src="/{ms:global.style/}/Picture/home_22.png"/>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="c">-->
<!--                    <ul>-->
<!--                        &lt;!&ndash;<li>罗卫光 广东省消委会秘书长</li>-->
<!--                        <li>廖学颜 广东省消委会副会长</li>-->
<!--                        <li>杨淑娜 广东省消委会副秘书长</li>&ndash;&gt;-->
<!--                        &lt;!&ndash;  <li>廖学颜 广东省消委会副会长</li>-->
<!--                         <li>龚宪平 广东省消委会党支部书记</li> &ndash;&gt;-->
<!--                        <li>杨淑娜 广东省消委会秘书长</li>-->
<!--                        <li>黄冠英 广东省消委会副秘书长</li>-->
<!--                        <li>张开仕 广州市消委会负责人</li>-->
<!--                        <li>李廷义 深圳市消委会秘书长</li>-->
<!--                        <li>钟颖瑶 佛山市消委会秘书长</li>-->
<!--                        <li>李  志 珠海市消委会负责人</li>-->
<!--                        <li>李镇宇 汕头市消委会副秘书长</li>-->
<!--                        <li>李良勋 韶关市消委会秘书长</li>-->
<!--                        <li>黄新铃 河源市消委会秘书长</li>-->
<!--                        <li>刘文年 梅州市消委会秘书长</li>-->
<!--                        <li>王剑平 惠州市消委会秘书长</li>-->
<!--                        <li>蔡辉东 汕尾市消委会秘书长</li>-->
<!--                        <li>吴  凯 东莞市消委会秘书长</li>-->
<!--                        <li>谢 辉 中山市消委会秘书长</li>-->
<!--                        <li>何达民 江门市消保委秘书长</li>-->
<!--                        <li>许 敢 阳江市消委会负责人</li>-->
<!--                        <li>武新建 湛江市消委会秘书长</li>-->
<!--                        <li>廖 党 茂名市消委会秘书长</li>-->
<!--                        <li>陈彧军 肇庆市消委会负责人</li>-->
<!--                        <li>谭浩良 清远市消委会负责人</li>-->
<!--                        <li>刘幼彪 潮州市消委会负责人</li>-->
<!--                        <li>林玉爽 揭阳市消委会负责人</li>-->
<!--                        <li>陈 平 云浮市消委会秘书长</li>-->
<!--                        <li>黄宜妙 横琴新区消协秘书长</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <!--right-3-->
<!--            <div class="right-3">-->
<!--                <img src="/{ms:global.style/}/Picture/home_25.png"/>-->
<!--                <div class="title">-->
<!--                    <a href="/html/web/mishuchangzaixian/index.html" target="_blank">-->
<!--                        <img src="/{ms:global.style/}/Picture/home_25.png"/>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="con" style="height: 170px;">-->
<!--                    <ul>-->
<!--                        {ms:arclist size=50 typeid="17" }-->
<!--                        <li>-->
<!--                            &lt;!&ndash; ${field.author}是作者，需数据库内容对上 &ndash;&gt;-->
<!--                            <em>${field.author}</em>问:<a href="/html/web${field.link}" target="_blank">${field.title}</a>-->
<!--                            &lt;!&ndash; <span class="fr">${field.date?date?string("[MM-dd]")}</span> &ndash;&gt;-->
<!--                        </li>-->
<!--                        {/ms:arclist}-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <!--right-4-->
            <div class="right-4">
                <a href="/html/web/shipinzhongxin/index.html" target="_blank">
                    <img src="/{ms:global.style/}/Picture/home_27.png"/>
                </a>
                <div class="c">
                    {ms:arclist size=1 flag="67"}
                    <a href="/html/web${field.link}" target="_blank ">
                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="230px" height="145px" />
                    </a>
                    {/ms:arclist}
                </div>
            </div>
            <div class="right-3" style="margin-top: 15px;">
                <img src="/{ms:global.style/}/Picture/home_26.jpg"/>
            </div>
        </div>
    </div>
    <!--mod-4-->

    <!--mod-5-->
    <div class="mod mod-3 mod-5 flex">
        <!--left-->
        <div class="left">
            <!--left-1-->
            <div class="left-2 flex" style="margin-top: 0">
                <div class="flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/tsfx/index.html">投诉分析</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1">
                                {ms:arclist size=1 flag="53"}
                                <h2 class="txt">
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </h2>
                                <p>
                                    <#if field.descrip?length gt 53>
                                    ${field.descrip?substring(0,53)?js_string}...
                                    <#else>
                                    ${field.descrip?js_string}
                                </#if>
                                </p>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="13" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/jdal/index.html">经典案例</a></span>/<span><a href="/html/web/yajf/index.html">以案解法</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1">
                                {ms:arclist size=1 flag="54"}
                                <h2 class="txt">
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </h2>
                                <p>
                                    <#if field.descrip?length gt 53>
                                    ${field.descrip?substring(0,53)?js_string}...
                                    <#else>
                                    ${field.descrip?js_string}
                                </#if>
                                </p>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="14" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <div class="txt flex-1">
                            <div class="h1">
                                {ms:arclist size=1 flag="55"}
                                <h2 class="txt">
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </h2>
                                <p>
                                    <#if field.descrip?length gt 53>
                                    ${field.descrip?substring(0,53)?js_string}...
                                    <#else>
                                    ${field.descrip?js_string}
                                </#if>
                                </p>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="15" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--left-2-->
            <div class="left-2 flex">
                <div class="flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/xfjs/index.html">消费警示</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1 flex">
                                {ms:arclist size=1 flag="56"}
                                <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="/html/web${field.link}" target="_blank">
                                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="170px" height="100px" >
                                    </a>
                                </div>
                                <h2><a href="/html/web${field.link}" target="_blank">${field.title}</a></h2>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="22" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab flex-1">
                    <div class="title">
                        <span class="on"><a href="/html/web/xfts/index.html">生活百科</a></span>/<span><a href="/html/web/flfg/index.html">法律法规</a></span>
                    </div>
                    <div class="con">
                        <div class="txt flex-1">
                            <div class="h1 flex">
                                {ms:arclist size=1 flag="62"}
                                <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="/html/web${field.link}" target="_blank">
                                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="170px" height="100px" >
                                    </a>
                                </div>
                                <h2><a href="/html/web${field.link}" target="_blank">${field.title}</a></h2>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="16" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <div class="txt flex-1">
                            <div class="h1 flex">
                                {ms:arclist size=1 flag="57"}
                                <div style="margin-right: 15px;margin-bottom: 10px">
                                    <a href="/html/web${field.link}" target="_blank"></a>
                                        <img src="{@ms:file field.litpic/}" alt="${field.title}" width="170px" height="100px" >
                                    </a>
                                </div>
                                <h2><a href="/html/web${field.link}" target="_blank">${field.title}</a></h2>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=3 typeid="23" }
                                <li>·&nbsp;
                                    <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--left-3-->
            <div class="left-3">
                <div class="title flex">
                    <div class=""><a href="/html/web/shouce/index.html" target="_blank" style="color: #4aad42">维权手册</a></div>
                    <div class="flex-1"><span></span></div>
                </div>
                <div class="c">
                    <ul>
                        {ms:arclist size=7 typeid="304" }
                        <li>
                            <a href="/html/web${field.link}" target="_blank">
                                <img src="{@ms:file field.litpic/}" width="200px" height="280px">
                            </a>
                        </li>
                        {/ms:arclist}
                    </ul>
                </div>
                <div class="prev"><a href="javascript:void(0)"></a></div>
                <div class="next"><a href="javascript:void(0)"></a></div>
            </div>
        </div>
        <!--right-->
        <div class="right">
            <!--right-5-->
            <div class="right-5" style="margin-bottom: 23px;">
                <div class="title">历年年主题<a href="/html/web/nianzhuti/index.html" target="_blank">more>></a></div>
                <div class="con">
                    <div style="padding-left: 2px;padding-top: 5px;">
                        <img src="/{ms:global.style/}/Picture/zhuti_pic.jpg"/>
                    </div>
                    <ul style="text-align:justify;text-align-last:justify;">
                        {ms:arclist size=6 typeid="303" }
                        <li>
                            <a href="/html/web${field.link}" target="_blank">${field.title}</a>
                        </li>
                        {/ms:arclist}
                    </ul>
                </div>
            </div>
            <!--right-1-->
            <div class="right-1" style="display:none">
                <a href="/html/web/xiaofeiweiquanxianfengweishi/index.html" target="_blank"><img src="/{ms:global.style/}/Picture/2020042901.jpg"/></a>
            </div>
            <!--right-2-->
            <div class="right-1">
                <a href="http://shopsmart.org.hk/shopsmart/index.php" target="_blank"><img src="/{ms:global.style/}/Picture/home_51.png"/></a>
            </div>
            <!--right-3-->
            <div class="right-1">
                <a href="http://www.consumer.gov.mo/Shop/Intro.aspx?lang=zh" target="_blank"><img src="/{ms:global.style/}/Picture/home_53.png"/></a>
            </div>
            <!--right-4-->
            <div class="right-1" >
                <a href="/{ms:global.style/}/shouxin/index.html" target="_blank"><img src="/{ms:global.style/}/Picture/home_58.png"/></a>
            </div>
            <div class="right-1" style="margin-bottom: 0">
                <a href="http://yst.gdzwfw.gov.cn/web/pc/?adt=ZWFWW_62004_gd" target="_blank"><img src="/{ms:global.style/}/Picture/yst.png"/></a>
            </div>
            <!--right-4-->
        </div>
    </div>
    <!--mod-6-->
    <div class="mod mod-6">
        <div class="title flex">
            <div class="">315网盟</div>
            <div class="flex-1"><span></span></div>
        </div>
        <div class="con">
            <ul class="flex">
                <li><a href="http://www.samr.gov.cn/" target="_blank"><img src="/{ms:global.style/}/Picture/home_66.png"/></a></li>
                <li><a href="http://www.cca.org.cn/" target="_blank"><img src="/{ms:global.style/}/Picture/home_70.png"/></a></li>
                <li><a href="http://amr.gd.gov.cn/" target="_blank"><img src="/{ms:global.style/}/Picture/home_68.png"/></a></li>
                <li><a href="https://www.consumer.org.hk/" target="_blank"><img src="/{ms:global.style/}/Picture/home_72.png"/></a></li>
                <li><a href="https://www.consumer.gov.mo/Default.aspx?lang=zh" target="_blank"><img src="/{ms:global.style/}/Picture/home_74.png"/></a></li>
            </ul>
        </div>
    </div>
    <!--mod-7-->
    <div class="mod mod-7">
        <div class="con flex">
            <div class="c-left">网站导航</div>
            <div class="c-txt flex-1">
                <select name="select4" class="box" onchange="if(this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value,'_blank');}">
                    <option selected="">--------- 各省消费者委员会 ---------</option>
                    <option value="http://www.bj315.org">北京市消费者协会</option>
                    <option value="http://www.heb315.org.cn/">河北省消费者协会</option>
                    <option style="display:none;"  value="http://www.nm315.com.cn">内蒙古自治区消费者协会</option>
                    <option value="http://www.315ln.cn">辽宁省消费者协会</option>
                    <option value="http://www.jl315.org">吉林省消费者协会</option>
                    <option style="display:none;" value="http://www.57315.net">黑龙江省消费者协会</option>
                    <option value="http://www.315.sh.cn">上海市消费者权益保护委员会</option>
                    <option value="http://www.ah315.cn">安徽省消费者委员会</option>
                    <option value="http://www.nm315.com.cn">内蒙古自治区消费者协会</option>
                    <option value="http://www.zj315.org">浙江省消费者权益保护委员会</option>
                    <option value="http://www.ah315.org.cn">安徽省消费者协会</option>
                    <option value="http://www.tj315.org.cn/">天津市消费者协会</option>
                    <option style="display:none;" value="http://www.sd315.org.cn">山东省消费者协会</option>
                    <option value="http://www.hub315.org.cn/">湖北省消费者委员会</option>
                    <option value="http://www.hn315.net.cn">海南省消费者委员会</option>
                    <option value="http://www.cq315.org">重庆市消费者权益保护委员会</option>
                    <option style="display:none;" value="http://www.gzxx315.org.cn">贵州省消费者协会</option>
                    <option value="http://www.yn315.com">云南省消费者协会</option>
                    <option value="http://www.sxwq.org.cn">陕西省消费者协会</option>
                    <option value="http://www.gs12315.com/web/web.action">甘肃省消费者协会</option>
                    <option value="http://www.qh315.org">青海省消费者委员会</option>
                    <option style="display:none;" value="http://www.xj315.com">新疆自治区消费者协会</option>
                </select>
                <select name="select4" class="box" onchange="if(this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value,'_blank');}">
                    <option selected="">---------- 市消费者委员会 ---------</option>
                    <option value="http://www.guangzhou315.com/">广州市消费者委员会</option>
                    <option value="http://www.sz315.org/">深圳市消费者委员会</option>
                    <option value="http://www.zhuhai315.com">珠海市消费者委员会</option>
                    <option value="http://www.shantou315.com">汕头市消费者委员会</option>
                    <option value="http://www.fs315.org">佛山市消费者委员会</option>
                    <option value="http://www.dongguanshi315.com">东莞市消费者委员会</option>
                    <option style="display:none;" value="http://www.gdzs315.gov.cn">中山市消费者委员会</option>
                    <option value="http://www.zhaoqing315.com">肇庆市消费者委员会</option>
                    <option value="http://www.gdzj315.com">湛江市消费者委员会</option>
                </select>
                <select name="select4" class="box" onchange="if(this.options[this.selectedIndex].value!=''){window.open(this.options[this.selectedIndex].value,'_blank');}">
                    <option value="#" selected="">------省行业协会------</option>
                    <option value="http://www.gdeba.org.cn">广东省网商协会</option>
                </select>
            </div>
        </div>
    </div>
</div>
    <#include "footer.htm" />
</body>
</html>

<div class="fad" style="display:none">
    <a class="close" href="javascript:;">X</a><a target="_blank" href="https://www.wjx.cn/jq/62992630.aspx"><img width="150" height="200" src="/{ms:global.style/}/Picture/2020dtdfg.jpg"></a></div>

<div class="rad" >
    <a class="close" href="javascript:;">X</a><a target="_blank" href="http://ts.gdcc315.cn/dologin"><img width="150" height="200" src="/{ms:global.style/}/Picture/tsptad.jpg"></a></div>

<!--  <div style="display:none" class="rad">
 <a class="close" href="javascript:;">X</a><a target="_blank" href="http://www.gdcc315.cn/show-6-49555-1.html
"><img width="160" height="200" src="http://www.gdcc315.cn/images/11.jpg"></a></div> -->
<script type="text/javascript">
    // jQuery('.fad .close').click(function(){
    //     jQuery('.fad').hide();
    // })
    $(".fad .close, .rad .close").click(function () {
        $(this).parent().hide();
    })
</script>
<style>
    .fad
    {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 999;
    }
    .fad .close, .rad .close
    {
        position: absolute;
        right: 0px;
        top: 0px;
        border: 1px solid #ddd;
        padding: 2px 5px;
        background: #fff;
        color: #f00;
        font-family: arial, '\5b8b\4f53';
    }
    .rad
    {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 999;
    }

</style>