<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>广东放心消费创建 - 广东消费网(广东省消委会消费维权网)</title>
<meta name="keywords" content="{ms:global.keyword/}">
<meta name="description" content="{ms:global.descrip/}">
<link href="{ms:global.host/}{ms:global.style/}/Css/style_list.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ms:global.host/}{ms:global.style/}/Scripts/jquery.min.list.js"></script>
<script type="text/javascript" src="{ms:global.host/}{ms:global.style/}/Scripts/jquery.peakslide.list.js"></script>
</head>
<body>
<div class="header"></div>
    <div class="ad">
        <div class="c">
        <ul>
            <li class="li-01"><a href="" target="_blank"></a></li>
            <li class="li-02"><a href="" target="_blank"></a></li>
            <li class="li-03"><a href="" target="_blank"></a></li>
            <li class="li-04"><a href="" target="_blank"></a></li>
            <li class="li-05"><a href="" target="_blank"></a></li>
        </ul>
     </div>
    </div>
    <div class="content">
        <div class="left">
           <div class="left-01">
            <div class="title">
                <h3>各地动态</h3>
                <a href="{ms:global.url/}/ztzqcon/fangxinxiaofeichuangjian/gedidongtai/index.html" target="_blank">more>></a>
            </div>
            <div class="con">
                <ul>
                    {ms:arclist size=8 typeid="310" }
                    <li class="flex">
                        <a href="{ms:global.url/}${field.link}" target="_blank"><b>·</b>${field.title}</a>
                        <div>${field.date?date?string("yyyy-MM-dd")}</div>
                    </li>
                    {/ms:arclist}

<!--          <li><a href="http://www.gdcc315.cn/show-310-53492-1.html" target="_blank"><b>·</b>东莞市消委会深入推动“放心消费承诺”活动</a><span>2021-01-28</span></li>-->
<!--         <li><a href="http://www.gdcc315.cn/show-310-53491-1.html" target="_blank"><b>·</b>珠海市消委会组织开展“诚信承诺 放心  消费”主题消费体验活动</a><span>2021-01-28</span></li>-->
<!--         <li><a href="http://www.gdcc315.cn/show-310-53490-1.html" target="_blank"><b>·</b>江门市消委会多措并举推进放心消费  创建承诺活动成效显著</a><span>2021-01-28</span></li>-->
<!--         <li><a href="http://www.gdcc315.cn/show-310-53489-1.html" target="_blank"><b>·</b>江门市消委会为新会陈皮村首批商户  颁发放心消费“双承诺单位”牌匾</a><span>2021-01-28</span></li>-->
<!--         <li><a href="http://www.gdcc315.cn/show-310-53465-1.html" target="_blank"><b>·</b>中山市放心消费承诺活动取得阶段成效</a><span>2021-01-20</span></li>-->
<!--         <li><a href="http://www.gdcc315.cn/show-310-53464-1.html" target="_blank"><b>·</b>江门市市场监管局召开全市放心消费创建工作推进会</a><span>2021-01-20</span></li>-->
<!--         <li><a href="http://www.gdcc315.cn/show-310-53463-1.html" target="_blank"><b>·</b>湛江市消委会系统召开放心消费创建现场会 要求推进放心消费创建工作</a><span>2021-01-20</span></li>-->
<!--                                                              <li><a href="http://www.gdcc315.cn/show-310-53462-1.html" target="_blank"><b>·</b>韶关开展“质量月”宣传暨 “放心消费承诺示范街区”创建活动</a><span>2021-01-20</span></li>-->

                </ul>
            </div>
           </div>
           <div class="left-02">
               <div class="left-02-01">
                <div class="title">
                   <h3>活动标识</h3>
                </div>
                   <div class="con">
                       <img src="{ms:global.host/}{ms:global.style/}/Picture/thumb-315.jpg"/>
                   </div>
               </div>
               <div class="left-02-02">
                <div class="title">
                  <h3>公示牌样式</h3>
                </div>
                <div class="con">
                    <img src="{ms:global.host/}{ms:global.style/}/Picture/thumb-dian.jpg"/>
                    <img src="{ms:global.host/}{ms:global.style/}/Picture/thumb-company.jpg"/>
                </div>
                </div>
                <div class="left-02-03">
                     <img src="{ms:global.host/}{ms:global.style/}/Picture/qr-code.jpg"/>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-01">
                <div class="title">
                    <h3>活动通知</h3>
                    <a href="{ms:global.url/}/ztzqcon/fangxinxiaofeichuangjian/huodongtongzhi/index.html" target="_blank">more>></a>
                </div>
                <div class="con">
                    <ul>
                        {ms:arclist size=3 typeid="311" }
                        <li class="flex">
                            <a href="{ms:global.url/}${field.link}" target="_blank"><b>·</b>${field.title}</a>
                        </li>
                    {/ms:arclist}
<!--                                                                   <li><a href="http://www.gdcc315.cn/show-310-52642-1.html" target="_blank"><b>·</b>东莞市消委会全力开展放心消费环境创建活动</a></li>-->
<!--                                                              <li><a href="http://www.gdcc315.cn/show-310-52641-1.html" target="_blank"><b>·</b>汕头全面铺开放心消费承诺活动 线下消费可以无理由退货</a></li>-->
<!--                                                              <li><a href="http://www.gdcc315.cn/show-310-52639-1.html" target="_blank"><b>·</b>广东全面铺开“放心消费承诺”活动，线下消费也可以无理由退货了</a></li>-->

                    </ul>
                </div>
            </div>
            <div class="right-02">
                <div class="title"><a href="{ms:global.url/}/ztzqcon/fangxinxiaofeichuangjian/shipin/index.html" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/video-title.jpg"/></a></div>
                <div class="content">
                    {ms:arclist size=1 typeid="307" }
                        <a href="{ms:global.url/}${field.link}" target="_blank"><img src="{@ms:file field.litpic/}" width="276px" /></a>
                    {/ms:arclist}
<!--                    <a href="http://www.gdcc315.cn/show-307-40-1.html" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/20200323075340593.jpg"/></a>-->
                </div>
            </div>
            <div class="right-03">
                <a href="http://gdfxxfcj.gdcc315.cn:8081/front_index" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/thumb-admin.jpg"/></a>
            </div>
            <div class="right-04">
                <div class="title">
                    <h3>申报指南</h3>
                    <a href="{ms:global.url/}/ztzqcon/fangxinxiaofeichuangjian/shenbaozhinan/index.html" target="_blank">more>></a>
                </div>
                <div class="con">
                    <ul>
                        {ms:arclist size=3 typeid="313" }
                        <li class="flex">
                            <a href="{ms:global.url/}${field.link}" target="_blank"><b>·</b>${field.title}</a>
                        </li>
                        {/ms:arclist}
<!--                                                                   <li><a href="http://www.gdcc315.cn/show-313-52638-1.html" target="_blank"><b>·</b>广东省消委会放心消费创建承诺活动 公示牌填写、制作说明</a></li>-->
<!--                                                              <li><a href="http://www.gdcc315.cn/show-313-52636-1.html" target="_blank"><b>·</b>广东省线下无理由退货承诺指引（试行）</a></li>-->
<!--                                                              <li><a href="http://www.gdcc315.cn/show-313-52635-1.html" target="_blank"><b>·</b>广东省经营者“放心消费承诺”活动规则（试行）</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="right-05">
                <div class="title">
                    <h3>申请表下载</h3>
                </div>
                <div class="con">
                <a href="{ms:global.host/}{ms:global.style/}/fxxfcj/images/template01.docx" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/excel-1.jpg"/></a>
                <a href="{ms:global.host/}{ms:global.style/}/fxxfcj/images/template02.docx" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/excel-2.jpg"/></a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="con">
            关于我们|网站帮助|隐私声明|联系我们|设为主页|加入收藏 　技术运营单位：消费者报道杂志社有限公司<br/>
主办单位：广东省消费者委员会 粤ICP备11026893号 COPYRIGHT© 1998-2010 gdcc315.cn All Rights Reserved<br/>
咨询电话：(020)85592315 地址：广州市天河区体育西路57号三楼 邮编：510620
        </div>
    </div>
    <script>
    jQuery(".ad").slide({
        mainCell: ".c ul",
        delayTime :5,
        effect: "leftLoop",
        defaultIndex: 0,
        vis: 2,
        scroll: 1,
        autoPlay: true
    });
    </script>
</body>
</html>