<!--foot-->
<!-- 页脚 -->
<div class="content-row">
    <!-- 友情链接 -->
    <div class="other-links">
        <div class="title">
            <div class="bg-line"></div>
            <div class="bg-rect"></div>
            <div style="padding: 0 5px;">友情链接</div>
            <div class="bg-rect"></div>
            <div class="bg-line"></div>
        </div>
        <div class="other-links-list">
            <a target="_blank" href="https://www.cca.org.cn/">中国消费者协会</a>
            <a target="_blank" href="https://www.gdcc315.cn/">广东省消费者委员会</a>
            <a target="_blank" href="https://www.guangzhou315.com/">广州市消费者委员会</a>
            <a target="_blank" href="https://www.sz315.org/#/home">深圳市消费者委员</a><br>
            <a target="_blank" href="https://www.zhuhai315.com/">珠海市消费者权益保护委员会</a>
            <a target="_blank" href="http://www.fs315.org/">佛山市消费者委员会</a>
            <a target="_blank" href="https://www.dongguanshi315.com/">东莞市消费者委员会</a>
        </div>
    </div>
</div>
<div class="content-row">
    <!-- 版权 -->
    <div class="copyright">
        <img src="">
        <span class="text_6">
                        <a target="_blank" href="https://beian.miit.gov.cn/">粤ICP备2023005480号</a>&nbsp;|&nbsp;
                        版权所有：汕头市消费者权益保护委员会(汕头市12315投诉举报中心)
                        <br>地址：汕头市金平区长平路72号&nbsp;|&nbsp;技术运营单位：消费者报道杂志社有限公司&nbsp;|&nbsp;<span style="color: yellow">网站地图</span>
                    </span>
    </div>
</div>


