<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>

<meta name="keywords" content="{ms:global.keyword/}">
<meta name="description" content="{ms:global.descrip/}">
<script type="text/javascript" src="/static/plugins/vue/2.6.9/vue.min.js"></script>
<script src="/static/plugins/element-ui/2.15.8/index.min.js"></script>
<link rel="stylesheet" href="/static/plugins/element-ui/2.15.8/theme-chalk/index.min.css">

<link rel="stylesheet" type="text/css" href="/statics-st315/css/common.css" />
<link rel="stylesheet" type="text/css" href="/statics-st315/css/index.css" />
<link rel="stylesheet" type="text/css" href="/statics-st315/css/swiper-bundle.min.css" />
<link rel="stylesheet" type="text/css" href="/statics-st315/css/list.css" />
<link rel="stylesheet" type="text/css" href="/statics-st315/css/detail.css" />