<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{ms:channel type="self"}${field.typetitle}{/ms:channel}</title>
    <#include "head-file.htm" />
</head>
<body>
    <div class="page">
        <#include "header.htm" />
        <!-- 正文内容 -->
        <div class="content">
            <div class="content-row">
                <!-- 列表 -->
                <div class="list-panel">
                    <!-- 路径面包屑 -->
                    <div class="path">
                        <img src="/statics-st315/img/icon-path.png"/>
                        <a href="/">首页</a>&nbsp;＞&nbsp;{ms:channel type="self"}<a href="{ms:global.url/}${field.typelink}">${field.typetitle}</a>&nbsp;＞&nbsp;{/ms:channel}列表
                    </div>
                    <!-- 列表 -->
                    <ul class="list content-body">
                        {ms:arclist size=17 ispaging=true}
                        <li>
                            <a href="{ms:global.url/}${field.link}"><span class="title">${field.title}</span><span
                                    class="time">${field.date?date?string("yyyy-MM-dd")}</span></a>
                        </li>
                        {/ms:arclist}
                    </ul>
                    <!-- 分页 -->
                    <#include "pages.htm" />
                </div>
                <!-- 推荐 -->
                <#include "recommend.htm" />
            </div>

            <#include "footer.htm" />
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        watch: {},
        data: {
            //当前页数
            pageCur: ${(page.cur)!1},
            //每页文章条数
            pageSize: ${(page.size)!17},
            //页数总数
            pageTotal: ${(page.total)!0},
            //内容总数
            contentCount: ${(page.rcount)!0}
        },
        methods: {
            switchShow: function (arr) {
                var that = this
                arr.forEach(function (x) {
                    let e = that.$el.querySelector("#key_" + x)
                    if (e) {
                        e.style.display = e.style.display == 'none' ? 'flex' : 'none'
                    }
                })
            },
            handleCurrentChange: function (val) {
                if (val == 1) {
                    location.href = "/html/web/${field.categoryPath}/index.html";
                } else {
                    location.href = "/html/web/${field.categoryPath}/list-" + val + ".html";
                }
            }
        },
        created() {
        }
    })
</script>

</html>