<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>搜索结果-${search.content_title}</title>
    <#include "head-file.htm" />
</head>
<body>
    <div class="page">
        <#include "header.htm" />
        <!-- 正文内容 -->
        <div class="content">
            <div class="content-row">
                <!-- 列表 -->
                <div class="list-panel">
                    <!-- 路径面包屑 -->
                    <div class="path">
                        <img src="/statics-st315/img/icon-path.png"/>
                        <a href="/">首页</a>&nbsp;＞&nbsp;搜索&nbsp;＞&nbsp;${search.content_title}
                    </div>
                    <!-- 列表 -->
                    <ul class="list content-body">
                        {ms:arclist size=17 ispaging=true}
                        <li>
                            <a href="{ms:global.url/}${field.link}"><span class="title">${field.title}</span><span
                                    class="time">${field.date?date?string("yyyy-MM-dd")}</span></a>
                        </li>
                        {/ms:arclist}
                    </ul>
                    <!-- 分页 -->
                    <#include "pages.htm" />
                </div>
                <!-- 推荐 -->
                <#include "recommend.htm" />
            </div>

            <#include "footer.htm" />
        </div>
    </div>

</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
//当前页数
            pageCur: ${(page.cur)!1},
//每页文章条数
            pageSize: ${(page.size)!17},
//页数总数
            pageTotal: ${(page.total)!0},
//内容总数
            contentCount: ${(page.rcount)!0},
            keyword: "{ms:search.content_title/}",
            categoryIds: ""
        },
        methods: {
            handleCurrentChange:function(val) {
                var form = document.createElement("form");
                form.setAttribute("method", "post");
                var input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'size');
                input.setAttribute('value', this.pageSize);
                form.append(input);
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'pageNo');
                input.setAttribute('value', val);
                form.append(input);
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'text');
                input.setAttribute('value', this.keyword);
                form.append(input);
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'categoryIds');
                input.setAttribute('value', this.categoryIds);
                form.append(input);

                // form.setAttribute("action", location.pathname);
                form.setAttribute("action", "/mcms/search.do");
                document.body.appendChild(form);
                form.submit();
                form.remove();
            },
        }
    })
</script>

</html>