<div class="w mt10 footer">
 版权所有：广州市消费者委员会 | 执行时间:144.5313 毫秒 | 最佳显示分辨率：1024X768 (版本:v2.01) 技术运营单位：消费者报道杂志社有限公司
 <script
         type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1253381752'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1253381752%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
 <div style="display:none;">
  <script
          type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1253381752'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1253381752%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
 </div>
 <br />
 地址：广州市较场东路5号 | <a href="#" target="_blank">
 <font color="yellow">网站地图</font>
</a> | 邮编：510055 | 传真：020-83826946 | 投诉热线：12345
 12315 意见征集邮箱:gz315xzb@126.com <a color="yellow" target="_blank" href="http://beian.miit.gov.cn/">粤ICP备18051841号</a>
 <span style="display: block;float: left;margin-top: -35px">
      <script
              type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/20/296/0000/45004101/CA202960000450041010022.js' type='text/javascript'%3E%3C/script%3E"));</script>
    </span>
</div>