<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <#include "head-file.htm" />
    <title>广州市消费者委员会</title>
</head>

<body>
    <#include "header.htm" />
    <#include "nav.htm" />

    <div class="w mt10" style="display:">
        <a href="#" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/bwcx.jpg"></a>
    </div>
    <div class="w mt10" style="display:">
        <a href="{ms:global.url/}/sxwdjgz/index.html" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/bwcx2.jpg"></a>
    </div>

    <div class="w mt5">
        <div class="con1">
<!--            消费新闻-->
            <div class="fl news">
                <div class="ctitle">
                    <span class="on"><a href="{ms:global.url/}/xiaofeixinwen/index.html">消费新闻</a></span>
                </div>
                <div class="ccon">
                    <div class="hot">
                        {ms:arclist size=1 flag="2"}
                        <a href="{ms:global.url/}${field.link}"
                           target="_blank">${field.title}</a>
                        {/ms:arclist}
                    </div>
                    <ul>
                        {ms:arclist size=6 typeid="6" noflag="2" }
                        <li>
                            <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                            <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                        </li>
                        {/ms:arclist}
                    </ul>
                </div>
            </div>
            <!--news end-->
<!--            轮播图-->
            <div class="fr side" id="side">
                <div class="title">
                </div>
                <ul>
                    {ms:arclist size=6 flag="1"}
                    <li>
                        <div class="fl pic">
                            <a href="{ms:global.url/}${field.link}">
                                <img src="{@ms:file field.litpic/}" width="410px" height="270px"
                                     alt="${field.title}”"></a>
                        </div>
                        <div class="fr txt">
                            <p class="h1">
                                <a href="{ms:global.url/}${field.link}">${field.title}</a>
                            </p>
                            <p class="desc">
                                ${field.descrip}
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    {/ms:arclist}
                </ul>
            </div>
            <!--side end-->
            <div class="clear">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var i = $("#side li").length;
        for (j = 1; j < i + 1; j++) { $('#side .title').append("<span>" + j + "</span>") }
        jQuery(".side").slide({ mainCell: "ul", effect: "leftLoop", defaultIndex: 0, vis: 2, scroll: 1, titCell: ".title span", titOnClassName: "on", autoPlay: true });
    </script>

    <div class="w mt10">
        <div class="fl l">
            <div class="mod1">
<!--                案例分析-->
                <div class="fl mod1-1 box01">
                    <div class="ctitle">
                        <span class="on"><a href="{ms:global.url/}/anlifenxi/index.html">案例分析</a></span>
                    </div>
                    <div class="cccon">
                        <div class="ccon">
                            <div class="tw">
                                {ms:arclist size=1 flag="16"}
                                <div class="fl pic">
                                    <a href="{ms:global.url/}${field.link}" target="_blank">
                                        <img src="{@ms:file field.litpic/}" width="140px" height="115px"
                                             alt="${field.title}" /></a>
                                </div>
                                <div class="fr txt">${field.title}</div>
                                {/ms:arclist}
                                <div class="clear"></div>
                            </div>
                            <ul>
                                {ms:arclist size=4 typeid="9" noflag="16" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <!--ccon end-->

                    </div>
                </div>
<!--                市消委会, 红盾信息-->
                <div class="fr mod1-2 box02">
                    <div class="ctitle">
                        <span class="on"><a href="{ms:global.url/}/shixiaoweihui/index.html">市消委会</a></span><span><a
                            href="{ms:global.url/}/hongdunxinxi/index.html">红盾信息</a></span>
                    </div>
                    <div class="cccon">
                        <div class="ccon">
                            <div class="hot">
                                {ms:arclist size=1 flag="15"}
                                <a href="{ms:global.url/}${field.link}"
                                   target="_blank">${field.title}</a>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=7 typeid="14" noflag="15" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <!--ccon end-->
                        <div class="ccon">
                            <div class="hot">
                                {ms:arclist size=1 flag="14"}
                                <a href="{ms:global.url/}${field.link}"
                                   target="_blank">${field.title}</a>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=7 typeid="15" noflag="14" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <!--ccon end-->
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <!--mod1 end-->
            <div class="mt10 mod1">
<!--                比较试验, 调查体验-->
                <div class="fl mod1-1 box03">
                    <div class="ctitle">
                        <span class="on"><a href="{ms:global.url/}/bijiaoshiyan/index.html">比较试验</a></span><span><a
                            href="{ms:global.url/}/diaochatiyan/index.html">调查体验</a></span>
                    </div>
                    <div class="cccon">
                        <div class="ccon">
                            <ul>
                                {ms:arclist size=8 typeid="12" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <!--ccon end-->
                        <div class="ccon">
                            <ul>
                                {ms:arclist size=8 typeid="17" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                        <!--ccon end-->
                    </div>
                </div>
<!--                消费知识-->
                <div class="fr mod1-2 box04">
                    <div class="ctitle">
                        <span class="on"><a href="{ms:global.url/}/xiaofeizhishi/index.html">消费知识</a></span>
                    </div>
                    <div class="cccon">
                        <div class="ccon xiaofeizhishi">
                            <a target="_blank" href="{ms:global.url/}/xiaofeizhishi/yi/index.html" target="_blank"><img
                                    src="{ms:global.host/}{ms:global.style/}/Picture/icon-xfzx-yi.png"></a>
                            <a target="_blank" href="{ms:global.url/}/xiaofeizhishi/shiwu/index.html" target="_blank"><img
                                    src="{ms:global.host/}{ms:global.style/}/Picture/icon-xfzx-shi.png"></a>
                            <a target="_blank" href="{ms:global.url/}/xiaofeizhishi/zhu/index.html" target="_blank"><img
                                    src="{ms:global.host/}{ms:global.style/}/Picture/icon-xfzx-zhu.png"></a>
                            <a target="_blank" href="{ms:global.url/}/xiaofeizhishi/xing/index.html" target="_blank"><img
                                    src="{ms:global.host/}{ms:global.style/}/Picture/icon-xfzx-xing.png"></a>
                        </div>
                        <!--ccon end-->
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <!--mod1 end-->
            <div class="mt10 mod1 mod2 box05">
<!--                警示提示, 消费评议-->
                <div class="fl mod1-1">
                    <div class="ctitle">
                        <span class="on"><a href="{ms:global.url/}/jingshitishi/index.html">警示提示</a></span><span
                            style="display:none;"><a href="{ms:global.url/}/xiaofeipingyi/index.html">消费评议</a></span>
                    </div>
                    <div class="cccon">
                        <div class="ccon">
                            <div class="hot">
                                {ms:arclist size=1 flag="9"}
                                <a href="{ms:global.url/}${field.link}"
                                   target="_blank">${field.title}</a>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=4 typeid="7" noflag="9" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>

                        <div class="ccon" style="display:none;">
                            <div class="hot">
                                {ms:arclist size=1 flag="12"}
                                <a href="{ms:global.url/}${field.link}"
                                   target="_blank">${field.title}</a>
                                {/ms:arclist}
                            </div>
                            <ul>
                                {ms:arclist size=4 typeid="18" noflag="12" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            </ul>
                        </div>
                    </div>
                </div>
<!--                消费评议-->
                <div class="fr mod1-2">
                    <div class="ctitle">
                        <span class="on"><a href="{ms:global.url/}/xiaofeipingyi/index.html"
                                            target="_blank">消费评议</a></span>
                        <a style="display:none;" href="{ms:global.url/}/xiaofeipingyi/index.html" class="fr"
                           style="font-size: 12px; margin-top: 10px; margin-right: 8px;">更多>></a>
                    </div>
                    <div class="ccon">
                        <div class="hot">
                            {ms:arclist size=1 flag="12"}
                            <a href="{ms:global.url/}${field.link}"
                               target="_blank">${field.title}</a>
                            {/ms:arclist}
                        </div>
                        <ul>
                            {ms:channel typeid="18" type="self"}
                                {ms:arclist size=4 typeid="18" noflag="12" }
                                <li>
                                    <a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a>
                                    <span class="fr">${field.date?date?string("[MM-dd]")}</span>
                                </li>
                                {/ms:arclist}
                            {/ms:channel}
                        </ul>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <!--mod2 end-->
        </div>
        <!--l end-->
        <script type="text/javascript">jQuery(".box01,.box02,.box03,.box04,.box05").slide({ mainCell: ".cccon", effect: "fade", delayTime: 10, defaultIndex: 0, vis: 2, scroll: 1, titCell: ".ctitle span", titOnClassName: "on", autoPlay: false });
        </script>
<!--        快速链接，视频中心，专题报道，法律法规-->
        <div class="fr r">
            <div class="r-side" style="background:#e3f1fa">
                <ul>
                    <li>快速链接</li>
                    <li><a target="_blank"
                            href="{ms:global.url/}/fang/index.html"><img
                                src="{ms:global.host/}{ms:global.style/}/Picture/icon-fxxf.png" />放心消费</a></li>
                    <li><a target="_blank" href="{ms:global.url/}/tousuzhinan/index.html"><img
                                src="{ms:global.host/}{ms:global.style/}/Picture/icon-tszn.png" />投诉指南</a></li>
                </ul>
            </div>
            <div class="mt5 mod2">
                <div class="strong yh">视频中心 | <a href="{ms:global.url/}/shipinzhongxin/index.html">更多</a></div>
                {ms:arclist size=1 typeid="21" ispaging=true}
                <div class="con">

                    <a href="{ms:global.url/}${field.link}" target="_blank">
                        <img src="{@ms:file field.litpic/}" width="200px" height="130px" style="height: 130px"></a>
                </div>
                {/ms:arclist}
            </div>
            <div class="mt5 mod2 mod3 zhuanti">
                <div class="strong yh">专题报道 | <a href="{ms:global.url/}/zhuantibaodao/index.html">更多</a></div>

                <div class="con">
                    <div class="title"></div>
                    <ul>
                        {ms:arclist size=5 typeid="19" ispaging=true}
                        <li>
                            <a href="{ms:global.url/}${field.link}" target="_blank">
                                <img src="{@ms:file field.litpic/}" width="200px" height="130px">
                            </a>
                        </li>
                        {/ms:arclist}
                    </ul>
                </div>
                <ul class="listt">
                    {ms:arclist size=3 typeid="19" ispaging=true}
                    <li>·<a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></li>
                    {/ms:arclist}
                </ul>
            </div>

            <script type="text/javascript">
                var i = $(".zhuanti .con li").length; //www.170m.com
                for (j = 1; j < i + 1; j++) { $('.zhuanti .title').append("<span>" + j + "</span>") }
                jQuery(".zhuanti").slide({ mainCell: ".con ul", effect: "leftLoop", defaultIndex: 0, vis: 2, scroll: 1, titCell: ".title span", titOnClassName: "on", autoPlay: true });
            </script>
            <div class="mod5 mod6">
                <div class="title"><strong>法律法规</strong><span class="fr"><a
                            href="{ms:global.url/}/zhengcefagui/index.html" target="_blank">更多>></a></span></div>
                <ul>
                    {ms:arclist size=10 typeid="10" ispaging=true}
                    <li>·<a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></li>
                    {/ms:arclist}
                </ul>
            </div>
        </div>
        <!--r end-->
        <div class="clear"></div>
    </div>
<!--    友情链接-->
    <div class="w">
        <div class="link-top">
            <img src="{ms:global.host/}{ms:global.style/}/Picture/link-top.png" />
        </div>
        <div class="link-p">
            <p>
                <a href="http://www.samr.gov.cn/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-gjgs.png" /></a>
                <a href="http://www.cca.org.cn/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-zgxfz.png" /></a>
                <a href="http://amr.gd.gov.cn/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-gdglj.png" /></a>
                <a href="http://scjgj.gz.gov.cn/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-gzhd.png" /></a>
                <a href="http://www.consumer.gov.mo/Shop/Intro.aspx?lang=zh" target="_blank"><img
                        src="{ms:global.host/}{ms:global.style/}/Picture/link-cx.png" /></a>
                <a href="http://www.consumer.gov.mo/Default.aspx?lang=zh" target="_blank"><img
                        src="{ms:global.host/}{ms:global.style/}/Picture/link-am.png" /></a>
                <a href="https://www.consumer.org.hk/ws_chi/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-xg.png" /></a>
            </p>
            <p class="tow">
                <a href="http://www.gdcc315.cn/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-2-1.png" /></a>
                <a href="http://www.sz315.org/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-2-2.png" /></a>
                <a href="http://www.zhuhai315.com/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-2-3.png" /></a>
                <a href="http://www.fs315.org/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-2-4.png" /></a>
                <a href="http://www.dongguanshi315.com/" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-2-6.png" /></a>
                <a href="http://www.zhaoqing315.com" target="_blank"><img src="{ms:global.host/}{ms:global.style/}/Picture/link-2-7.png" /></a>
            </p>
        </div>
    </div>
    <style>
        .link-p p {
            display: flex;
        }

        .link-p p a {
            display: block;
            flex: 1;
            margin: 8px 2px;
        }

        .link-p .tow a {
            display: block;
            flex: 1 0 auto;
            margin: 8px 7px;
        }

        .fad1 {
            position: fixed;
            bottom: 10px;
            left: 10px;
            z-index: 999;
        }

        .fad1 .close,
        .rad1 .close {
            position: absolute;
            right: 0px;
            top: 0px;
            border: 1px solid #ddd;
            padding: 2px 5px;
            background: #fff;
            color: #f00;
            font-family: arial, '\5b8b\4f53';
        }

        .rad1 {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 999;
        }
    </style>

    <div style="display:none" class="fad1">
        <a class="close" href="javascript:;">X</a><a target="_blank" href="https://wj.qq.com/s2/8138748/4798"><img src="{ms:global.host/}{ms:global.style/}/Picture/gzfc.jpg"></a>
    </div>
    <div class="rad1">
        <a class="close" href="javascript:;">X</a><a target="_blank" href="https://wj.qq.com/s2/8138748/4798"><img width="160" height="200" src="{ms:global.host/}{ms:global.style/}/Picture/gzfc.jpg"></a>
    </div>
    <script type="text/javascript">
        $(".fad1 .close,.rad1 .close").click(function () {
            $(this).parent().hide();
        })
    </script>

    <#include "footer.htm" />
</body>

</html>