<#assign ids=field.parentids>
<#assign typeid=field.typeid>
<div class="w mt10">
    <div id="menu">
        <div class="menu">
            <ul style="padding-left:150px;">
                <li><a href="/" style="width:115px;"></a></li>
                <li class="topli"><a href="javascript:;" style="width:112px;" class="topa">消费热点</a>
                    <div style="display:none;" class="downul downul-1">
                        <a href="{ms:global.url/}/xiaofeixinwen/index.html">消费新闻</a><em>|</em><a
                            href="{ms:global.url/}/xiaofeipingyi/index.html">消费评议</a><em>|</em><a
                            href="{ms:global.url/}/zhuantibaodao/index.html">专题报道</a><em>|</em><a
                            href="{ms:global.url/}/shipinzhongxin/index.html">视频中心</a>
                    </div>
                </li>
                <li class="topli"><a href="javascript:;" style="width:112px;" class="topa">权威发布</a>
                    <div style="display:none;" class="downul downul-2">
                        <a href="{ms:global.url/}/shixiaoweihui/index.html">市消委会</a><em>|</em><a
                            href="{ms:global.url/}/hongdunxinxi/index.html">红盾信息</a><em>|</em><a
                            href="{ms:global.url/}/bijiaoshiyan/index.html">比较试验</a><em>|</em><a
                            href="{ms:global.url/}/tousuzhinan/index.html">投诉指南</a>
                    </div>
                </li>
                <li class="topli">
                    <a href="javascript:;" style="width:112px;" class="topa on">公众教育</a>
                    <div style="display:none;" class="downul downul-3">
                        <a href="{ms:global.url/}/jingshitishi/index.html">警示提示</a><em>|</em>
                        <a href="{ms:global.url/}/xiaofeizhishi/index.html">消费知识</a><em>|</em>
                        <a href="{ms:global.url/}/anlifenxi/index.html">案例分析</a><em>|</em>
                        <a href="{ms:global.url/}/zhengcefagui/index.html">法律法规</a>
                    </div>
                </li>
                <li class="topli"><a href="javascript:;" style="width:112px;" class="topa">信息公开</a>
                    <div style="display:none;" class="downul downul-5">
                        <a href="{ms:global.url/}/xinxigongkai/7262.html">本会概况</a><em style="display:none;">|</em><a
                            style="display:none;"
                            href="{ms:global.url/}/xinxigongkai/7413.html">领导分工</a><em>|</em><a
                            href="{ms:global.url/}/xinxigongkai/9888.html">内设机构</a><em>|</em><a
                            href="{ms:global.url/}/xinxigongkai/7414.html">分会信息</a>
                    </div>
                </li>
                <li class="topli"><a href="{ms:global.url/}/sxwdjgz/index.html" style="width:112px;" class="topa">党建专栏</a></li>
            </ul>
        </div>
        <script type="text/javascript">
            $("#menu .topli").hover(function () {
                $(this).find(".topa").addClass("on");
                $(this).find(".downul").show();
            }, function () {
                $(this).find(".topa").removeClass("on");
                $(this).find(".downul").hide();
            })
            $("#menu .seconda").hover(function () {
                // $("#menu .seconda").find(".seconddownul").addClass("on");
                $("#menu .seconda").find(".seconddownul").show();
            }, function () {
                // $(this).removeClass("on");
                $("#menu .seconda").find(".seconddownul").hide();
            })
        </script>
        <div class="search">
            <form action="{ms:global.host/}mcms/search.do" method="post" id="searchDataForm" target="_blank">

                <input id="content_details_or" type="hidden" name="content_details_or">
<!--                <input type="text" name="content_title" class="input" value="请输入关键词搜索"-->
<!--                       onfocus="if(this.value='请输入关键词搜索')this.value=''" onblur="if(this.value=='')this.value='请输入关键词搜索'"-->
<!--                       autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">-->
                <input id="content_title" type="text" name="content_title" class="input" placeholder="请输入关键词搜索">
                <a href="javascript:;" id="searchkw" onclick="goToSearch()" class="sbtn">搜索</a>
            </form>
        </div>
        <script type="text/javascript">

            function goToSearch() {
                var v = document.getElementById("content_title").value;
                document.getElementById("content_details_or").value = v;
                document.getElementById("searchDataForm").submit();
            }

        </script>
    </div>
</div>
