<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>公司简介</title>
    <#include "header.htm" />
</head>
<body>

<!--header end-->
<div class="warp">
   <div class="content w960">
      <div class="news-b"><img src="/statics-wysw/Picture/news-b.jpg" /></div>
      <div class="company-c">
  <div class="txt">
<p>广东惟一水务工程有限公司成立于2004年，作为新型环<br/>
保设备公司，一直致力于研发、生产、推广先进的环保处理<br/>
技术和工艺设备，现拥有多项专利，涉及废水处理、大<br/>
气净化及油烟分离等技术方面。</p>
 <p>惟一水务已通过ISO9001质量体系认证，拥有专<br/>
业的工程设备技术人员队伍，专业的售后服务及<br/>
销售队伍。公司的销售网络遍布全国各个省<br/>
份，并在东北、西南、华南成立办事处。</p>
  </div>
      </div>
     </div>
   </div>
<!--content end-->
<#include "footer.htm" />
<!--footer end-->
</div>
  
</body>
</html>
