<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>联系我们</title>
    <#include "header.htm" />
</head>
<body>

<!--header end-->
<div class="warp">
   <div class="content w960">
      <div class="news-b"><img src="/statics-wysw/Picture/news-b.jpg" /></div>
      <div class="contact-c">
     <div class="l address">
      地址：广州市黄埔大道西163号富星商贸大厦东塔16-I房<br><br>
      电话：020-85518028<br><br>
      传真：020-85518809<br><br>
      邮箱：rayee@rayeewater.com <br><br>
     </div>
     <div class="l ewm">
     <img src="/statics-wysw/Picture/ewm.jpg">
     </div>
     <div class="clear"></div>
      </div>
     </div>
   </div>
<!--content end-->
<#include "footer.htm" />
<!--footer end-->
</div>
  
</body>
</html>
