<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="footer w960">
    <div class="l">
        <p class="tel">TEL:020-85518028</p>
        <p>
            Copyright 2015 广东惟一水务工程有限公司<br/>
            <a href="http://mail.rayeewater.com" target="_blank">邮箱登陆</a>&nbsp;&nbsp;
            <a href="https://beian.miit.gov.cn" target="_blank">粤ICP09058742号</a>
        </p>
    </div>
    <div class="r"><img src="/statics-wysw/Picture/erwm.jpg" /></div>
</div>
</body>
</html>