<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="惟一水务" />
<meta name="description" content="惟一水务" />
<title>惟一水务</title>
    <#include "header.htm" />
</head>
<body>
<!-- <div class="header">-->
<!--  <div class="w960 topbar">-->
<!--   <div class="logo l"><a href="/"><img src="Picture/logo.jpg" alt="" /></a></div>-->
<!--   <div class="sou r">-->
<!--    <form>-->
<!--      <input type="text" value="" name="sou" />-->
<!--      <button>搜 索</button>-->
<!--    </form>-->
<!--   </div>-->
<!--  </div>-->
<!--  <div class="menu">-->
<!--    <div class="w960">-->
<!--    <a href="/article_category.php?id=2">行业新闻 </a><span>|</span><a href="/article_category.php?id=1">公司动态<span>|</span><a href="company.html">公司介绍 <span>|</span><a href="product.html">产品介绍<span>|</span><a href="yejishow.html">业绩展示<span>|</span><a href="contact.html">联系我们</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--header end--><div class="warp">
   <div class="content w960">
     <div class="index-b">
      <ul>
        <li><img src="/statics-wysw/Picture/index-b-1.jpg" /></li>
        <li><img src="/statics-wysw/Picture/index-b-2.jpg" /></li>
      </ul>
     </div>
     <!--index-b end-->
     <div class="index-con">
      <div class="l left">
         <div class="mod">
           <div class="t"><h4>行业动态</h4><span class="r"><a href="{ms:global.url/}/xingyexinwen/index.html">更多>></a></span></div>
           <div class="c">
             <ul>
                 {ms:arclist size=3 typeid="2" }
                    <li>·<a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></li>
                 {/ms:arclist}
<!--                        <li>·<a href="http://www.rayeewater.com/article.php?id=15" target="_blank">环境保护部严查环境监测数据弄虚作假</a></li>-->
<!--    <li>·<a href="http://www.rayeewater.com/article.php?id=14" target="_blank">深圳4年累计投入128.4亿元治理水污染</a></li>-->
<!--    <li class="last">·<a href="http://www.rayeewater.com/article.php?id=11" target="_blank">广东跨界水污染整治 决策如何出炉</a></li>-->
            </ul>
           </div>
         </div>
         <!--mod end-->
         <div class="mod">
           <div class="t" style="background-color: #029413;"><h4>公司动态</h4><span class="r"><a href="{ms:global.url/}/gongsidongtai/index.html">更多>></a></span></div>
           <div class="c">
             <ul>
                 {ms:arclist size=3 typeid="1" }
                 <li>·<a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></li>
                 {/ms:arclist}
<!--                           <li class="last">·<a href="http://www.rayeewater.com/article.php?id=12" target="_blank">第八届上海国际污水处理展</a></li>-->
               </ul>
           </div>
           <div class="ad">
            <a href="#" target="_blank"><img src="/statics-wysw/Picture/index-l-1.jpg" /></a>
           </div>
         </div>
         <!--mod end-->
      </div>
      <!--l end-->
      <div class="r right">
        <div class="mod">
          <div class="t"><h4>公司介绍</h4></div>
          <div class="t-b"><img src="/statics-wysw/Picture/index-r-t-b.jpg" /></div>
          <div class="c">
<p>广东惟一水务工程有限公司成立于2004年，作为新型环保设备公司，一直致力于研发、
生产、推广先进的环保处理技术和工艺设备，现拥有多项专利，涉及废水处理、大气净化
及油烟分离等技术方面。</p>
<p> 惟一水务已通过ISO9001质量体系认证，拥有专业的工程设备技术人员队伍，专业的
售后服务及销售队伍。公司的销售网络遍布全国各个省份，并在东北、西南、华南成立办
事处。</p>
          </div>
        </div>
      </div>
      <!--r end-->
      <div class="clear"></div>
     </div>
   </div>
<!--content end-->
<!-- <div class="footer w960">-->
<!--  <div class="l">-->
<!--    <p class="tel">TEL:020-85518028</p>-->
<!--    <p>Copyright 2015 广东惟一水务工程有限公司<br/>&nbsp;<a href="http://mail.rayeewater.com" target="_blank">邮箱登陆</a> <a href="https://beian.miit.gov.cn" target="_blank">粤ICP09058742号</a></p>-->
<!--  </div>-->
<!--    <div class="r"><img src="Picture/erwm.jpg" /></div>-->
<!--</div>-->
<!--footer end-->
  <!--company-footer end-->
 
</div>
<#include "footer.htm" />
</body>
</html>
