<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <#include "header.htm" />
</head>
<body>
<div class="warp">
    <div class="content w960">
        <div class="news-b"><img src="/statics-wysw/Picture/news-b.jpg" /></div>
        <div class="news-c">
            <div id="pageIn">
                <div class="urHere">当前位置：<a href="/">首页</a><b>></b><span> > </span>搜索结果 > 获得约 ${(page.rcount)!0} 条结果</div>
                <div id="articleList">
<!--                <div class="urHere">您现在的位置：<a href="{ms:global.url/}">首页</a><span> > </span>搜索结果 > 获得约 ${(page.rcount)!0} 条结果-->
                <dl class="last">
                    {ms:arclist size=10 ispaging=true}
                    <li>
                        <dt><a href="{ms:global.url/}${field.link}">${field.title}</a> <font color=#999>(${field.date?date?string("MM-dd")})</font></dt>
                        <dd><p class="desc">{@ms:len field.descrip 80/}</p></dd>
                    </li>
                    {/ms:arclist}
                </dl>
            </div>
                <div class="pager">
                    <a href="{ms:page.index/}">首页</a>
                    <a href="{ms:page.pre/}">上一页</a>
                    <a href="{ms:page.next/}">下一页</a>
                    <a href="{ms:page.last/}">末页</a>
                    |当前页：{ms:page.cur/}
                    总页数：{ms:page.total/}
                </div>
<!--                <div class="pager">-->
<!--                    <a href="{ms:global.url/}{ms:page.index/}">首页</a>-->
<!--                    <a href="{ms:global.url/}{ms:page.pre/}">上一页</a>-->
<!--                    <a href="{ms:global.url/}{ms:page.next/}">下一页</a>-->
<!--                    <a href="{ms:global.url/}{ms:page.last/}">末页</a>-->
<!--                    |当前页：{ms:page.cur/}-->
<!--                    总页数：{ms:page.total/}-->
<!--                    &lt;!&ndash;            当前页/总页数<span>{ms:page.cur/}/{ms:page.total/}</span>&ndash;&gt;-->
<!--                    本页有：<span>{ms:page.rcount/}</span>篇文章-->
<!--                </div>-->

                <!--        <div class="pager">总计 1 个记录，共 1 页，当前第 1 页 | <a href="http://www.rayeewater.com/article_category.php?id=1">第一页</a> 上一页 下一页 <a href="http://www.rayeewater.com/article_category.php?id=1&page=1">最末页</a></div>   </div>-->
            </div>
        </div>
</body>
</html>