<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>业绩展示</title>
	<#include "header.htm" />
</head>
<body>

<!--header end-->
<div class="warp">
   <div class="content w960">
   	<div class="news-b"><img src="/statics-wysw/Picture/news-b.jpg" /></div>
   	  <div class="yeji-c">
   	  	<div class="mod">
   	  		<div class="t"><h3>法捷斯R型精密过滤器</h3></div>
   	  		<div class="con">
   	  			<ul>
   	  			<li><img src="/statics-wysw/Picture/yj1.jpg" width="290px" height="190px"/></li>
   	  			<li><img src="/statics-wysw/Picture/yj2.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj3.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj4.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj5.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj6.jpg" width="290px" height="190px" /></li>
   	  			</ul>
   	  		</div>
   	  	</div>
   	  	<!--end-->
   	  	<div class="mod">
   	  		<div class="t"><h3>法捷斯F型超细格栅</h3></div>
   	  		<div class="con">
   	  			<ul>
   	  			<li><img src="/statics-wysw/Picture/yj7.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj8.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj9.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj10.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj11.jpg" width="605px" height="190px" /></li>
   	  			</ul>
   	  		</div>
   	  	</div>
   	  	<!--end-->
   	  	<div class="mod">
   	  		<div class="t"><h3>RAYEE系列无极光解净化设备（除臭类）</h3></div>
   	  		<div class="con">
   	  			<ul>
   	  			<li><img src="/statics-wysw/Picture/yj12.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj13.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj14.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj15.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj16.jpg" width="605px" height="300px" /></li>
   	  			</ul>
   	  		</div>
   	  	</div>
   	  	<!--end-->
   	  	<div class="mod">
   	  		<div class="t"><h3>CORE 系列离心式油烟回收设备</h3></div>
   	  		<div class="con">
   	  			<ul>
   	  			<li style="padding-left: 160px;"><img src="/statics-wysw/Picture/yj17.jpg" width="290px" height="190px" /></li>
   	  			<li><img src="/statics-wysw/Picture/yj18.jpg" width="290px" height="190px" /></li>
   	  			</ul>
   	  		</div>
   	  	</div>
   	  	<!--end-->
   	  </div>
   </div>
<!--content end-->
	<#include "footer.htm" />
<!--footer end-->
</div>
  
</body>
</html>
