<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>专利</title>
	<#include "header.htm" />
</head>
<body>
<!--header end-->
<div class="warp">
   <div class="content w960">
   	  <div class="news-b"><img src="/statics-wysw/Picture/news-b.jpg" /></div>
   	  <div class="pd-c">
        <div class="l left" style="min-height:945px;">
        	<ul>
				<a href="{ms:global.url/}/product/index.html"><li class="li1"><h4>水处理设备</h4></li></a>
				<a href="{ms:global.url/}/product2/index.html"><li class="li2"><h4>气体净化设备</h4>(无极光解净化设备)</li></a>
				<a href="{ms:global.url/}/product3/index.html"><li class="li3"><h4>气体净化设备</h4>(CORE系列离心式油烟回收设备)</li></a>
				<a href="{ms:global.url/}/patent/index.html"><li class="li4"><h4>专利</h4><em class="arrow-right"></em></li></a>
        	</ul>
        </div>
        <div class="r right pd4">
        	<img src="/statics-wysw/Picture/p4.jpg"  />
        </div>
        <div class="clear"></div>
   	  </div>
   	 </div>
   </div>
<!--content end-->
<#include "footer.htm" />
<!--footer end-->
</div>
  
</body>
</html>
