<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.mingsoft.fxxf.mapper.ApplicantsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.mingsoft.fxxf.bean.entity.Applicants">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="reg_name" property="regName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="store_name" property="storeName"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="town" property="town"/>
        <result column="address" property="address"/>
        <result column="online_name" property="onlineName"/>
        <result column="platform" property="platform"/>
        <result column="online_link" property="onlineLink"/>
        <result column="management" property="management"/>
        <result column="details" property="details"/>
        <result column="principal" property="principal"/>
        <result column="principal_tel" property="principalTel"/>
        <result column="contacts" property="contacts"/>
        <result column="contacts_tel" property="contactsTel"/>
        <result column="join_industry" property="joinIndustry"/>
        <result column="cont_commitment" property="contCommitment"/>
        <result column="comm_num" property="commNum"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="contents1" property="contents1"/>
        <result column="contents2" property="contents2"/>
        <result column="contents3" property="contents3"/>
        <result column="contents4" property="contents4"/>
        <result column="statement" property="statement"/>
        <result column="application_date" property="applicationDate"/>
        <result column="industry_content" property="industryContent"/>
        <result column="industry_date" property="industryDate"/>
        <result column="industry_company_name" property="industryCompanyName"/>
        <result column="industry_auditors" property="industryAuditors"/>
        <result column="cc_content" property="ccContent"/>
        <result column="cc_date" property="ccDate"/>
        <result column="cc_company_name" property="ccCompanyName"/>
        <result column="cc_auditors" property="ccAuditors"/>
        <result column="del_time" property="delTime"/>
        <result column="del_reason" property="delReason"/>
        <result column="del_other" property="delOther"/>
        <result column="pub_time" property="pubTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="add_contents4_cnt" property="addContents4Cnt"/>
        <result column="creater" property="creater"/>
        <result column="create_type" property="createType"/>
        <result column="audit_role_id" property="auditRoleId"/>
        <result column="account" property="account"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.id,
        a.type,
        a.status,
        a.reg_name,
        a.credit_code,
        a.store_name,
        a.province,
        a.city,
        a.district,
        a.town,
        a.address,
        a.online_name,
        a.platform,
        a.online_link,
        a.management,
        a.details,
        a.principal,
        a.principal_tel,
        a.contacts,
        a.contacts_tel,
        a.join_industry,
        a.cont_commitment,
        a.comm_num,
        a.start_time,
        a.end_time,
        a.contents1,
        a.contents2,
        a.contents3,
        a.contents4,
        a.statement,
        a.application_date,
        a.industry_content,
        a.industry_date,
        a.industry_company_name,
        a.industry_auditors,
        a.cc_content,
        a.cc_date,
        a.cc_company_name,
        a.cc_auditors,
        a.del_time,
        a.del_reason,
        a.del_other,
        a.pub_time,
        a.create_time,
        a.update_time,
        a.add_contents4_cnt,
        a.creater,
        u.manager_name,
        a.create_type,
        a.audit_role_id
    </sql>


    <select id="getGdRegion" resultType="net.mingsoft.fxxf.bean.vo.RegionVo">
        SELECT `code`, `name`, pcode FROM sys_region WHERE `code` LIKE '44%' AND id != 19 ORDER BY `level`, sort
    </select>

    <select id="companyList" resultMap="BaseResultMap">
        SELECT id,type,reg_name FROM cc_applicants
        <where>
            AND status = 1
            <if test="keyword != null and keyword != ''">
                AND reg_name LIKE concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <select id="unitOperatorStatistics" resultType="net.mingsoft.fxxf.bean.vo.OperatorStatisticsVo">
        SELECT
        sr.name area,
        sum(IFNULL(applicantsCnt, 0)) applicantsCnt,
        sum(IFNULL(commitmentCnt, 0)) commitmentCnt,
        sum(IFNULL(addContents1Cnt, 0)) addContents1Cnt,
        sum(IFNULL(nullCnt, 0)) nullCnt,
        sum(IFNULL(beSupervisedCnt, 0)) beSupervisedCnt,
        sum(IFNULL(delCnt, 0)) delCnt
        FROM
        (
            SELECT
            a.area,
            applicantsCnt,
            commitmentCnt,
            addContents1Cnt,
            IFNULL(applicantsCnt, 0) - IFNULL(beSupervisedCnt, 0) - IFNULL(delCnt, 0) - IFNULL(otherCnt, 0) nullCnt,
            beSupervisedCnt,
            delCnt
            from (
            (SELECT
            <choose>
                <when test="roleId != null and roleId == 1">
                    city area,
                </when>
                <when test="roleId != null and roleId == 2">
                    district area,
                </when>
                <when test="roleId != null and roleId == 4">
                    district area,
                </when>
                <otherwise>
                    district area,
                </otherwise>
            </choose>
            count( 1 ) applicantsCnt,
            count( CASE WHEN cont_commitment = '是' THEN '是' END ) commitmentCnt,
            count( CASE WHEN add_contents4_cnt IS NOT NULL OR add_contents4_cnt != '' THEN '是' END ) addContents1Cnt,
            count( CASE WHEN `status` = 0 THEN 1 END ) delCnt
            FROM
            cc_applicants a
            <where>
                a.type = 1 and a.status=1
                <if test="roleId == 2 or roleId == 4 or roleId==3">
                    and city like concat('%', #{city},'%')
                </if>
                <if test="startTime != null and startTime != ''">
                    and start_time &gt;= #{startTime}
                </if>
                <if test="endTime != null and endTime != ''">
                    and start_time &lt;= #{endTime}
                </if>
            </where>
            GROUP BY
            <choose>
                <when test="roleId == 1">
                    city
                </when>
                <otherwise>
                    district
                </otherwise>
            </choose>
            )a left join
            (
            SELECT
            <choose>
                <when test="roleId != null and roleId == 1">
                    city area,
                </when>
                <when test="roleId != null and roleId == 2 ">
                    district area,
                </when>
                <when test="roleId != null and roleId == 4">
                    district area,
                </when>
                <otherwise>
                    district area,
                </otherwise>
            </choose>
            count( CASE WHEN result = '其他' THEN 1 END ) otherCnt,
            count( CASE WHEN result = '督促告诫' THEN 1 END ) beSupervisedCnt
            FROM
            cc_applicants a
            INNER JOIN cc_feedback f ON a.id = f.applicants_id
            WHERE a.type = 1 and a.status=1
        <if test="startTime != null and startTime != ''">
            and start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and start_time &lt;= #{endTime}
        </if>
            GROUP BY
            <choose>
                <when test="roleId == 1">
                    city
                </when>
                <otherwise>
                    district
                </otherwise>
            </choose>
            )b on a.area=b.area
            )
        ) a RIGHT JOIN
        (
        SELECT name, sort
        FROM sys_region
        <where>
            <choose>
                <when test="roleId == 1">
                    pcode = 440000
                </when>
                <when test="roleId == 2 or roleId == 4 or roleId == 3">
                    pcode = (SELECT code FROM sys_region WHERE name= #{city})
                </when>
                <otherwise>
                    code = (SELECT code FROM sys_region WHERE name= #{district} and pcode=(SELECT code FROM sys_region WHERE name= #{city}))
                </otherwise>
            </choose>
        </where>
        ) AS sr ON FIND_IN_SET(sr. NAME,a.area)
        GROUP BY
        sr. NAME, sr.sort
        order by sr.sort
    </select>

    <select id="storeOperatorStatistics" resultType="net.mingsoft.fxxf.bean.vo.OperatorStatisticsVo">
        SELECT
        sr.name area,
        sum(IFNULL(applicantsCnt,0)) applicantsCnt,
        sum(IFNULL(contents2Cnt,0)) contents2Cnt,
        sum(IFNULL(nullCnt,0)) nullCnt,
        sum(IFNULL(beSupervisedCnt,0)) beSupervisedCnt,
        sum(IFNULL(delCnt,0)) delCnt
        FROM
        (
            SELECT
            a.area,
            applicantsCnt,
            IFNULL(contents2Cnt,0) contents2Cnt,
            IFNULL(applicantsCnt, 0) - IFNULL(beSupervisedCnt, 0) - IFNULL(delCnt, 0) - IFNULL(otherCnt, 0) nullCnt,
            IFNULL(beSupervisedCnt,0) beSupervisedCnt,
            IFNULL(delCnt,0) delCnt
            from (
            (SELECT
            <choose>
                <when test="roleId != null and roleId == 1">
                    city area,
                </when>
                <when test="roleId != null and roleId == 2">
                    district area,
                </when>
                <when test="roleId != null and roleId == 4">
                    district area,
                </when>
                <otherwise>
                    district area,
                </otherwise>
            </choose>
            count( 1 ) applicantsCnt,
            count( CASE WHEN contents2 &gt; 7 THEN '是' END ) contents2Cnt,
            count( CASE WHEN `status` = 0 THEN 1 END ) delCnt
            FROM
            cc_applicants a
            <where>
                a.type = 2 and a.status=1
                <if test="roleId == 2 or roleId == 4 or roleId == 3">
                    and city like concat('%', #{city},'%')
                </if>
                <if test="startTime != null and startTime != ''">
                    and start_time &gt;= #{startTime}
                </if>
                <if test="endTime != null and endTime != ''">
                    and start_time &lt;= #{endTime}
                </if>
            </where>
            GROUP BY
            <choose>
                <when test="roleId == 1">
                    city
                </when>
                <when test="roleId == 2">
                    district
                </when>
                <when test="roleId == 4">
                    district
                </when>
                <otherwise>
                    district
                </otherwise>
            </choose>
            )a left join
            (
            SELECT
            <choose>
                <when test="roleId != null and roleId == 1">
                    city area,
                </when>
                <when test="roleId != null and roleId == 2">
                    district area,
                </when>
                <when test="roleId != null and roleId == 4">
                    district area,
                </when>
                <otherwise>
                    district area,
                </otherwise>
            </choose>
            count( CASE WHEN result = '其他' THEN 1 END ) otherCnt,
            count( CASE WHEN result = '督促告诫' THEN 1 END ) beSupervisedCnt
            FROM
            cc_applicants a
            INNER JOIN cc_feedback f ON a.id = f.applicants_id
            WHERE a.type = 2 and a.status=1
        <if test="startTime != null and startTime != ''">
            and start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and start_time &lt;= #{endTime}
        </if>
            GROUP BY
            <choose>
                <when test="roleId == 1">
                    city
                </when>
                <when test="roleId == 2 or roleId == 4">
                    district
                </when>
                <otherwise>
                    district
                </otherwise>
            </choose>
            )b on a.area=b.area
            )
        ) a RIGHT JOIN
        (
            SELECT name, sort
            FROM sys_region
            <where>
                <choose>
                    <when test="roleId == 1">
                        pcode = 440000
                    </when>
                    <when test="roleId == 2 or roleId == 4 or roleId == 3">
                        pcode = (SELECT code FROM sys_region WHERE name= #{city})
                    </when>
                    <otherwise>
                        code = (SELECT code FROM sys_region WHERE name= #{district} and pcode=(SELECT code FROM sys_region WHERE name= #{city}))
                    </otherwise>
                </choose>
            </where>
        ) AS sr ON FIND_IN_SET(sr. NAME,a.area)
        GROUP BY
        sr. NAME, sr.sort
        order by sr.sort
    </select>

    <select id="listPage" resultType="net.mingsoft.fxxf.bean.entity.Applicants">
        select
        distinct
        <include refid="Base_Column_List"></include>
        from
        cc_applicants a
        LEFT JOIN manager u on u.id=a.creater
        <where>
            a.type=#{applicantsPageRequest.type}
            <if test="applicantsPageRequest.city != null and applicantsPageRequest.city != ''">
                and a.city = #{applicantsPageRequest.city}
            </if>
            <if test="applicantsPageRequest.district != null and applicantsPageRequest.district != ''">
                and a.district like concat('%', #{applicantsPageRequest.district},'%')
            </if>
            <if test="applicantsPageRequest.town != null and applicantsPageRequest.town != ''">
                and a.town=#{applicantsPageRequest.town}
            </if>
            <if test="applicantsPageRequest.status != null and applicantsPageRequest.status != ''">
                and a.status=#{applicantsPageRequest.status}
            </if>
            <if test="applicantsPageRequest.startTime != null and applicantsPageRequest.startTime != ''">
                and a.start_time <![CDATA[ >= ]]> #{applicantsPageRequest.startTime}
            </if>
            <if test="applicantsPageRequest.endTime != null and applicantsPageRequest.endTime != ''">
                and a.start_time <![CDATA[ <= ]]> #{applicantsPageRequest.endTime}
            </if>
            <if test="applicantsPageRequest.search != null and applicantsPageRequest.search != ''">
                and (
                a.reg_name like concat('%',#{applicantsPageRequest.search},'%') or
                a.credit_code like concat('%',#{applicantsPageRequest.search},'%') or
                a.contacts like concat('%',#{applicantsPageRequest.search},'%') or
                a.contacts_tel like concat('%',#{applicantsPageRequest.search},'%')
                )
            </if>
            <if test="applicantsPageRequest.management != null and applicantsPageRequest.management != ''">
                and a.management=#{applicantsPageRequest.management}
            </if>
            <if test="applicantsPageRequest.details != null and applicantsPageRequest.details != ''">
                and a.details=#{applicantsPageRequest.details}
            </if>

            <if test="roleId == 2 or roleId == 4">
                and a.city like concat('%', #{cityAccess},'%')
            </if>
            <if test="roleId == 3">
                and a.city like concat('%', #{cityAccess},'%') and a.district like concat('%', #{districtAccess},'%')
            </if>
        </where>
        ORDER BY
        CASE status
        WHEN 4 THEN 1
        WHEN 3 THEN 2
        WHEN 6 THEN 3
        WHEN 5 THEN 4
        ELSE 5
        END ASC , a.start_time desc
    </select>

    <select id="applicantsExport" resultType="net.mingsoft.fxxf.bean.entity.Applicants">
        select
        <include refid="Base_Column_List"></include>
        from
        cc_applicants a
        LEFT JOIN
        (
        SELECT name, sort
        FROM sys_region
        <where>
            <choose>
                <when test="roleId == 1">
                    and pcode = 440000
                </when>
                <when test="roleId == 2 or roleId == 4">
                    and pcode = (SELECT code FROM sys_region WHERE name= #{cityAccess})
                </when>
                <otherwise>
                    and code = (SELECT code FROM sys_region WHERE name= #{districtAccess} and pcode=
                    (SELECT code FROM sys_region WHERE name= #{cityAccess}))
                </otherwise>
            </choose>
        </where>
        ) AS sr ON sr.name = a.city
        LEFT JOIN manager u on u.id=a.creater
        <where>
            a.type=#{type}
            <if test="status != null and status != ''">
                and a.status=#{status}
            </if>
            <if test="roleId == 2 or roleId == 4">
                and a.city like concat('%', #{cityAccess},'%')
            </if>
            <if test="roleId == 3">
                and a.city like concat('%', #{cityAccess},'%') and a.district like concat('%', #{districtAccess},'%')
            </if>
        </where>
        ORDER BY
        CASE status
        WHEN 4 THEN 1
        WHEN 3 THEN 2
        WHEN 6 THEN 3
        WHEN 5 THEN 4
        ELSE 5
        END ASC, sr.sort , a.start_time desc
    </select>

    <select id="applicantsTotalTakeOffStatistics"
            resultType="net.mingsoft.fxxf.bean.dto.ApplicantsStatisticsDto">
        SELECT
         ${applicantsStatisticsDto.roleRegIdentify},
            COUNT(1) AS companyTotal,
            SUM(IF( ca.status = 0 , 1, 0 )) AS takeOff
        FROM
            cc_applicants ca
        WHERE 1=1
        <if test="applicantsStatisticsDto.startTime != '' and applicantsStatisticsDto.startTime != null
                and applicantsStatisticsDto.endTime != '' and applicantsStatisticsDto.endTime != null">
            AND create_time BETWEEN #{applicantsStatisticsDto.startTime} AND date_add(#{applicantsStatisticsDto.endTime}, INTERVAL 1 DAY)
        </if>
        <if test="applicantsStatisticsDto.roleId != 1 and applicantsStatisticsDto.city != '' and applicantsStatisticsDto.city != null">
            AND city like concat('%', #{applicantsStatisticsDto.city},'%')
        </if>
        <if test="applicantsStatisticsDto.type != '' and applicantsStatisticsDto.type != null">
            AND type = #{applicantsStatisticsDto.type}
        </if>
        GROUP BY ${applicantsStatisticsDto.roleRegIdentify}
    </select>

    <select id="statisticApplicantsCount" resultType="net.mingsoft.fxxf.bean.vo.OperatorStatisticsVo">
        SELECT if(#{areaField}='city',city, district) area,
        count(*) applicantsCnt,
        <choose>
            <when test="statisticType == 1">
                count( CASE WHEN cont_commitment = '是' THEN '是' END ) commitmentCnt,
                count( CASE WHEN add_contents4_cnt IS NOT NULL OR add_contents4_cnt != '' THEN '是' END ) addContents1Cnt
            </when>
            <when test="statisticType == 2">
                count( CASE WHEN contents2 &gt; 7 THEN '是' END ) contents2Cnt
            </when>
        </choose>
        FROM
        cc_applicants
        <where>
            `status` = 1 AND type = #{statisticType}
            <if test="areaField == 'district'">
                and city like concat('%',#{city},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and start_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY
        area
    </select>

    <select id="statisticResultCount" resultType="net.mingsoft.fxxf.bean.vo.HandleResultStatisticsVo">
        SELECT
        a.reg_name regName,
        if(#{areaField}='city',a.city, a.district) area,
        count( CASE WHEN f.result = '督促告诫' THEN 1 END ) beSupervisedCnt,
        count( CASE WHEN f.result = '摘牌' THEN 1 END ) delCnt,
        count( CASE WHEN result = '其他' THEN 1 END ) otherCnt
        FROM
        cc_applicants a
        INNER JOIN cc_feedback f ON a.id = f.applicants_id
        <where>
            a.type = #{statisticType}
            AND a.`status` = 1
            <if test="areaField == 'district'">
                and city like concat('%',#{city},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and start_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY
        regName,area
    </select>

    <select id="statisticTransitionPeriodCount" resultType="net.mingsoft.fxxf.bean.vo.OperatorStatisticsVo">
        select if(#{areaField}='city',a.city, a.district) area,
        count(*) transitionPeriodCnt
        from cc_applicants a
        <where>
            a.type = #{statisticType}
            AND a.`status` = 3
            <if test="areaField == 'district'">
                and city like concat('%',#{city},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and start_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY
        area
    </select>

</mapper>
