<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.mingsoft.fxxf.mapper.FeedbackTypeMapper">

    <select id="feedbackType" resultType="net.mingsoft.fxxf.entity.FeedbackType">
        select id,type,name,pid,remarks,create_time,update_time
        from sys_type
        <where>
            <if test="flag != null and flag == 0">
                and pid = 0 and type in (1,2)
            </if>
            <if test="flag != null and flag == 1">
                and pid = 0 and type in (3,4)
            </if>
        </where>
    </select>

    <select id="feedbackReason" resultType="net.mingsoft.fxxf.entity.FeedbackType">
        select id,type,name,pid,remarks,create_time,update_time
        from sys_type
        <where>
            <if test="id != null and id != ''">
                pid = #{id}
            </if>
        </where>
    </select>

</mapper>
