<div id="footer">
    <div class="w">
        <p class="a1" style="display:none;"><a href="#" target="_blank">关于我们</a><a href="#" target="_blank">联系我们</a><a href="#"
                                                                                                 target="_blank">隐私声明</a>
        </p>
        <p class="a2" style="margin-bottom: 10px;display:none;"><a href="#" target="_blank">About</a><span>|</span><a href="#"
                                                                                                        target="_blank">Contact</a><span>|</span><a
                href="#" target="_blank">Statement</a>
        </p>
        <p class="fz12"><a href="https://beian.miit.gov.cn" target="_blank" style="color:#fff">粤ICP备19131841号-1</a> COPYRIGHT© 1998-2010 gdcc315.cn All Rights Reserved</p>
        <p class="fz12">咨询电话：（020）85594879 地址：广州市天河区体育西路57号三楼 邮编：510620</p>
    </div>
</div>
</body>
</html>