<head>
    <meta charset="utf-8">
    <title>{ms:channel type="path"}${field.typetitle}{/ms:channel}</title>
    <#include "header.htm" />
</head>
<!--list-->
<div id="list" class="w flex">
    <div class="l">
        <div class="bar">您现在的位置：<a href="{ms:global.url/}">首页</a><span> > </span>{ms:channel type="path"}<a href="{ms:global.url/}${field.typelink}">${field.typetitle}</a>{/ms:channel} > 列表</div>
        <div class="list">
<!--              {pc:content action="lists" catid="$catid" num="8" order="inputtime DESC" page="$page" moreinfo="1"}-->
            <ul>
<!--			{loop $data $r}-->
                {ms:arclist size=8 ispaging=true}
                <li class="flex">
                    <div class="title">
                        <h3><span></span><a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></h3>
                        <p class="desc">{@ms:len field.descrip 80/}<a href="{ms:global.url/}${field.link}" target="_blank">【查看全文】</a></p>
                    </div>
                </li>
                {/ms:arclist}
<!--				  {/loop}-->
            </ul>
            <div id="app" v-cloak>
                <div class="pages">
                    <el-pagination
                            background
                            @current-change="handleCurrentChange"
                            :page-size="pageSize"
                            :current-page.sync="pageCur"
                            layout="total, prev, pager, next"
                            prev-text="上一页"
                            next-text="下一页"
                            :total="contentCount"></el-pagination>
                </div>
            </div>
<!--             <div id="pages" class="text-c">{$pages}</div>-->
<!--            {/pc}-->
        </div>
    </div>
    <div class="r">
        <!--mod-1-->
        <div class="mod-1 mod-2">
            <div class="title">
                <a href="{ms:global.url/}/benhuidongtai/index.html" target="_blank">
                <img src="/statics-yjh315/2019style/images/icon-benhuidongtai.png"/>
                </a>
            </div>
            <div class="top">
                <ul class="list">
<!--                    {pc:content action="position" posid="2" num="1" order="listorder DESC"} -->
<!--                    {loop $data $r}-->
                    {ms:arclist flag="2" size=1}
                        <li>
                        <a href="{ms:global.url/}${field.link}" target="_blank"><img src="{@ms:file field.litpic/}" width="340px" height="175px"></a>
                        <p><a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></p>
                        </li>
                    {/ms:arclist}
<!--                        {/loop} -->
<!--                        {/pc}-->
                </ul>
            </div>
            <ul class="list">
<!--               {pc:content action="lists" catid="7" num="6" order="inputtime DESC"} -->
<!--                  {loop $data $r}-->
                {ms:arclist typeid="7" size=6}
                  <li>·&nbsp;<a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></li>
                {/ms:arclist}
<!--                  {/loop} -->
<!--                {/pc}-->
            </ul>
        </div>
        <!--mod-1-->
        <div class="mod-1 mod-3">
            <div class="title">
                <a href="{ms:global.url/}/media/index.html" target="_blank">
                <img src="/statics-yjh315/2019style/images/icon-xiaofeixinwen.png"/>
                </a>
            </div>
            <div class="top">
                <ul class="list">
                    {ms:arclist flag="1" size=1}
                        <li>
                        <a href="{ms:global.url/}${field.link}" target="_blank"><img src="{@ms:file field.litpic/}" width="340px" height="175px"></a>
                        <p><a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></p>
                        </li>
                    {/ms:arclist}
                </ul>
            </div>
            <ul class="list">
<!--               {pc:content action="lists" catid="8" num="6" order="inputtime DESC"} -->
<!--                  {loop $data $r}-->
                {ms:arclist typeid="8" size=6}
                  <li>·&nbsp;<a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a></li>
                {/ms:arclist}
<!--                  {/loop} -->
<!--                {/pc}-->
            </ul>
        </div>
    </div>
</div>
<#include "footer.htm" />
<script>
    var app = new Vue({
        el: '#app',
        watch: {},
        data: {
            //当前页数
            pageCur: ${(page.cur)!1},
            //每页文章条数
            pageSize: ${(page.size)!25},
            //页数总数
            pageTotal: ${(page.total)!0},
            //内容总数
            contentCount: ${(page.rcount)!0}
        },
        methods: {
            switchShow: function (arr) {
                var that = this
                arr.forEach(function (x) {
                    let e = that.$el.querySelector("#key_" + x)
                    if (e) {
                        e.style.display = e.style.display == 'none' ? 'flex' : 'none'
                    }
                })
            },
            handleCurrentChange: function (val) {
                if (val == 1) {
                    location.href = "{ms:global.url/}/${field.categoryPath}/index.html";
                } else {
                    location.href = "{ms:global.url/}/${field.categoryPath}/list-" + val + ".html";
                }
            }
        },
        created() {
        }
    })
</script>
<style>
    .pages ul li {
        margin: 0 5px !important;
        color: #606266 !important;
        padding: 0 4px !important;
        border: 1px solid #ccc;
        background-color: #FFFFFF !important;

    }
    .pages span {
        color: #606266 !important;
        padding: 0 4px !important;
        border: 1px solid #ddd;
        background-color: #FFFFFF !important;
        /*border: 1px solid #ccc;*/

    }
    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background-color: #ddd !important;
        color: #fff !important;
    }
    .pages {
        /* div在屏幕中居中对齐的方法三：*/
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 8px;
    }
</style>